{% extends "layout.html" %}
  
{% block title %}Attributions{% endblock %}
{% block lead %}Use this page to attribute work done on your project. This includes the work done by each of the student members on your team and  any work that was done by people outside of your team, including the host labs, advisors, instructors, and individuals not on the team roster. This requirement is not about literature references - these can and should be displayed throughout your wiki.{% endblock %}

{% block page_content %}

<div class="standard-header banner-v2 curvy-divider">
  <h1> Attributions </h1>
  <div class="wave2">
    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
        <path d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z" class="shape-fill"></path>
    </svg>
  </div>
</div>

<div class="d-flex flex-row justify-content-center body-padding">
      <!-- SPACING -->
      <div class="spacer-div"></div>
  <!-- <div class="index-padding">
    <div class="fixed-index">
      <p>Fixed Index or Scrollbar</p>
    </div>
  </div> -->
  <div class="body-container d-flex flex-column align-items-center justify-content-center" data-aos="fade-up" data-aos-duration="1000" data-aos-easing="ease-out-sine">
    <div class="container">
      <div class="body-section top-page">
        <h2>About</h2>
        <p>AtheroSHuffle is not the work of one person, but a whole team endeavor including our team members, our instructor, and our sponsors. Our team members each filled their own roles and contributed to an incredible team dynamic which allowed us to persevere in the toughest of times. Our instructor Dr. Kozminski taught us what we needed, guided us through the process of iGEM, and helped to secure the funds needed to make our project possible. Finally, our sponsors are the source of funds integral to the success of our project, and very little would have been possible without them. We would like to thank each and every one of the names listed below for making the 2022 Virginia iGEM AtheroSHuffle project possible. </p>
      </div>
    </div>
  
    <div class="container">
      <div class="body-section">
        <h2>Team Attributions</h2>
        <h3>Yilun Zhou</h3>
        <p>Yilun is the iGEM Virginia 2022 Team Lead. She was involved in coming up with the original project design and served as a lead on the Wet Lab committee. She researched, documented, and taught the team experimental protocols. She also had the important role of uniting and organizing the team. Her leadership and efforts were invaluable to our project, and we would not be as strong as we are as a team without her.</p>
      </div>
    </div>
  
    <div class="container">
      <div class="body-section">
        <h3>Miranda Khoury</h3>
        <p>Miranda is the Wet Lab committee lead. She oversaw and greatly informed the workflow of the lab, troubleshooted, and designed experiments. Miranda also was the primary member involved in engineering our antibody sequences. She coordinated frequently with Modeling in order to improve the productivity of Wet Lab. She also started journal clubs where the whole team would convene to discuss scientific literature to improve general knowledge related to our project. Her drive, initiative, and consistency are inspiring.</p>
      </div>
    </div>
  
    <div class="container">
      <div class="body-section">
        <h3>Ivory Tang</h3>
        <p>Ivory is the Modeling Lead for our team as well as a Wet Lab secondary. Ivory organized and led the two major projects for our modeling team this summer, those being protein modeling and developing an advection-dispersion-reaction equation to quantify our LFA design. She is highly-motivated and taught herself skills such as using the supercomputer to develop protein models so she could teach the rest of the team and further the development of our project.</p>
      </div>
    </div>
  
    <div class="container">
      <div class="body-section">
        <h3>Isha Patel</h3>
        <p>Isha is the Human Practices and Outreach committee lead. She searched for and contacted experts, helped get sponsors, planned our project implementation, and managed our social media presence to facilitate public education. She also assisted with running wet lab experiments. One of her biggest highlights is kickstarting a podcast to interview health professionals and creating heart-healthy recipe videos on social media to spread awareness about cardiovascular disease. Her creativity and interpersonal skills are highly valuable.</p>
      </div>
    </div>
  
    <div class="container">
      <div class="body-section">
        <h3>Peneeta Wojcik</h3>
        <p>Peneeta is the Wiki lead for our team and was also largely involved in wet lab and modeling.Peneeta spearheaded the foundation of our wiki from very early on to prevent a last minute wiki rush during the fall semester, and has led and contributed greatly to the website design and coding. She taught herself web development skills and how to use libraries such as Bootstrap and WebGL. She is the core of our wiki development and we would’ve had a much harder time making it without her.</p>
      </div>
    </div>
  
    <div class="container">
      <div class="body-section">
        <h3>Jayati Maram</h3>
        <p>Jayati supports the Modeling, Wet Lab, Integrated Human Practices, Finance, and Wiki committees. She conducted interviews with professionals for the IHP podcast, helped write grant applications, created our survey, created the app demo, and helped conduct wet lab experiments. Her many talents have been invaluable to our team and to the development of our project. She is a dedicated individual who is always available to help the team wherever she can.</p>
      </div>
    </div>
  
    <div class="container">
      <div class="body-section">
        <h3>Marisa Guajardo</h3>
        <p>Marisa is the graphic design committee lead. She designed and drew the artwork on the wiki and designed our team shirts. She taught herself how to use software such as Adobe Illustrator, Figma, and SVGator to create animations and figures. In the lab, she helped with culturing, running gels, and troubleshooted processes. She also was involved in researching protocols and literature review for Modeling and Wet Lab committees.</p>
      </div>
    </div>
  
    <div class="container">
      <div class="body-section">
        <h3>Godwin Oluwafemi</h3>
        <p>Godwin is the Chief Financial Officer for our team and a primary member of Wet Lab. Godwin worked hard to find and secure numerous grants and sponsorships for our team throughout the year, met with financial contacts, and wrote grant proposals. He greatly advised budgeting and team spending, monitored our spending and purchased reagents. Godwin is also one of the 3 members who contributed to the initial research and formation of the project proposal.</p>
      </div>
    </div>
  
    <div class="container">
      <div class="body-section">
        <h3>Justin Orchard-Hays</h3>
        <p>Justin is primarily on the Modeling committee and also serves on the Wet Lab committee. He contributed greatly in his background research on modeling, used AlphaFold to construct models of our proteins, taught himself how to use softwares such as GROMACS, and led Wet Lab experiments. He also assisted in designing the antibody sequences and primers needed for cloning. His attitude, intellect, and hard work are inspiring.</p>
      </div>
    </div>
  
    <div class="container">
      <div class="body-section">
        <h3>Alyssa Dioguardi</h3>
        <p>Alyssa serves on the Human Outreach committee and Finance committee. She contributed to the group by reaching out to companies and potential sponsors, helped with grant proposals, conducted interviews for the IHP podcast, wrote the storybook for IHP, and participated in Wet Lab journal clubs. </p>
      </div>
    </div>
  
    <div class="container">
      <div class="body-section">
        <h3>Alex Heise</h3>
       <p>Alex is a modeling primary and Wet Lab secondary member. He assisted in modeling our proteins and participating in Modeling journal clubs to determine the structure of our biomarker. He also assisted in performing many protocols in Wet Lab. His efforts and critical thinking skills are admirable.</p>
      </div>
    </div>
  
    <div class="container">
      <div class="body-section">
        <h3>Yasir Mahboba</h3>
        <p>Yasir is a Wet Lab primary member. He took the initiative to lead the experiments of the iGEM interlab study and presented at the Mid-Atlantic iGEM Meetup. He is experienced with transformations and cell culture. His work conducted at late hours in the night has been impertinent to the progress of the team.</p>
      </div>
    </div>

    <div class="container">
      <div class="body-section">
        <h2>Our Sponsors</h2>
      </div>
    </div>

    <div class="container">
      <div class="body-section">
        <h2>Special Mentions</h2>
        <p>We want to give a special thanks to the researchers we met with to discuss our project. They are: <span class="bold-text">Dr. Norbert Leitinger, Dr. Jay Brown, Dr. Swapnil Sonkusare, Dr. Coleen McNamara, nutritionist Katherine Basbaum, and Dr. Amy Taylor.</span> Your input and discussions with us have been invaluable.</p>
      </div>
    </div>
  </div>

      <!-- SPACING -->
      <div class="spacer-div"></div>

</div>



{% endblock %}
