{% extends "layout.html" %}
  
{% block title %}Attributions{% endblock %}
{% block lead %}Use this page to attribute work done on your project. This includes the work done by each of the student members on your team and  any work that was done by people outside of your team, including the host labs, advisors, instructors, and individuals not on the team roster. This requirement is not about literature references - these can and should be displayed throughout your wiki.{% endblock %}

{% block page_content %}

<div class="standard-header banner-v2 curvy-divider">
  <h1> Attributions </h1>
  <div class="wave2">
    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
        <path d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z" class="shape-fill"></path>
    </svg>
  </div>
</div>

<div class="d-flex flex-column justify-content-center align-items-center curvy-divider">
  <div class="body-container wave-div narrow">
    <div class="container">
      <div class="about-section d-flex flex-row justify-content-center align-items-center">
        <div class="wrapper">
          <h2>Debt of Gratitude</h2>
          <p>AtheroSHuffle is not the work of one person, but a whole team endeavor including our team members, our instructor, and our sponsors. Our team members each filled their own roles and contributed to an incredible team dynamic which allowed us to persevere in the toughest of times. Our instructor Dr. Kozminski taught us what we needed, guided us through the process of iGEM, and helped to secure the funds needed to make our project possible. Finally, our sponsors are the source of funds integral to the success of our project, and very little would have been possible without them. We would like to thank each and every one of the names listed below for making the 2022 Virginia iGEM AtheroSHuffle project possible.</p>
        </div>
        <div class="img-wrapper bunch-of-lfas">
          <img style="max-height: 15rem; padding: 2rem;"src="https://static.igem.wiki/teams/4477/wiki/images/doodleattrib.svg" alt="textbook">
        </div>
      </div>
    </div>
  </div>
  <div class="gray-divider">
    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
        <path d="M985.66,92.83C906.67,72,823.78,31,743.84,14.19c-82.26-17.34-168.06-16.33-250.45.39-57.84,11.73-114,31.07-172,41.86A600.21,600.21,0,0,1,0,27.35V120H1200V95.8C1132.19,118.92,1055.71,111.31,985.66,92.83Z" class="shape-fill"></path>
    </svg>
  </div>
</div>


<div class="gray d-flex flex-column curvy-divider">
  <div class="d-flex flex-row justify-content-center body-padding">
    <!-- SPACING -->
    <div class="spacer-div"></div>
    <div class="body-container d-flex flex-column align-items-center justify-content-center" data-aos="fade-up" data-aos-duration="1000" data-aos-easing="ease-out-sine">
    
      <div class="container">
        <div class="body-section top-page">
          <h2>Team Attributions</h2>

          <h3>Dr. Keith Kozminski</h3>
          <p>Dr. Kozminski is the Virginia iGEM 2022 faculty mentor. He taught us experimental protocols, gave us lab training, guided us through technical difficulties, and inspired us persevere during the trying times we faced throughout our project. </p>

          <h3>Yilun Zhou</h3>
          <p>Yilun is the iGEM Virginia 2022 Team Lead. She was involved in developing the original project design and was a lead on the Wet Lab committee. She researched, documented, and taught the team experimental protocols. She also had the important role of uniting and organizing the team. Her leadership and efforts were invaluable to our project, and we would not be as strong as we are as a team without her.</p>
        </div>
      </div>
    
      <div class="container">
        <div class="body-section">
          <h3>Miranda Khoury</h3>
          <p>Miranda is the Wet Lab committee lead. She oversaw and greatly informed the workflow of the lab, troubleshooting, and experiment design. Miranda also was the primary member involved in engineering our antibody sequences. She coordinated frequently with Modeling to improve the productivity of Wet Lab. She also started journal clubs where the whole team would convene to discuss scientific literature to improve general knowledge related to our project. Her drive, initiative, and consistency are inspiring.</p>
        </div>
      </div>
    
      <div class="container">
        <div class="body-section">
          <h3>Ivory Tang</h3>
          <p>Ivory is the Modeling Lead for our team as well as a Wet Lab secondary. Ivory organized and led the two major projects for our modeling team this summer, those being protein modeling and developing an advection-dispersion-reaction equation to quantify our LFA design. She is highly motivated and taught herself skills such as using the supercomputer to develop protein models so she could teach the rest of the team and further the development of our project.</p>
        </div>
      </div>
    
      <div class="container">
        <div class="body-section">
          <h3>Isha Patel</h3>
          <p>Isha is the Human Practices and Outreach committee lead. She searched for and contacted experts, helped get sponsors, planned our project implementation, and managed our social media presence to facilitate public education. She also assisted with running wet lab experiments. One of her biggest highlights is kickstarting a podcast to interview health professionals and creating heart-healthy recipe videos on social media to spread awareness about cardiovascular disease. Her creativity and interpersonal skills are precious.</p>
        </div>
      </div>
    
      <div class="container">
        <div class="body-section">
          <h3>Peneeta Wojcik</h3>
          <p>Peneeta is the Wiki lead for our team and was largely involved in the wet lab and modeling. Peneeta spearheaded the foundation of our wiki from early on to prevent a last-minute wiki rush during the fall semester. She coded and designed the website by teaching herself web development skills and the use of libraries such as Bootstrap and WebGL. She is the core of our wiki development. She also edited the project promotional video.
            </p>
        </div>
      </div>
    
      <div class="container">
        <div class="body-section">
          <h3>Jayati Maram</h3>
          <p>Jayati supports the Modeling, Wet Lab, Integrated Human Practices, Finance, and Wiki committees. She conducted interviews with professionals for the IHP podcast, helped write grant applications, created our survey, created the app demo, and helped conduct wet lab experiments. Her many talents have been invaluable to our team and to the development of our project. She is a dedicated individual who is always available to help the team wherever she can.</p>
        </div>
      </div>
    
      <div class="container">
        <div class="body-section">
          <h3>Marisa Guajardo</h3>
          <p>Marisa is the graphic design committee lead. She designed and drew the artwork on the wiki and designed our team shirts. She taught herself how to use software such as Adobe Illustrator, Figma, and SVGator to create animations and figures. In the lab, she assisted in the wet lab. She also was involved in researching protocols for the Wet Lab committee.</p>
        </div>
      </div>

      <div class="container">
        <div class="body-section">
          <h3>Justin Orchard-Hays</h3>
          <p>Justin is primarily on the Modeling committee and also serves on the Wet Lab committee. He contributed to our understanding of the oxidation process of LDL and performed literature reviews. He also led Wet Lab experiments and conducted the cloning and transformation of the full sized IgG into SHuffle E. coli. He also assisted in designing the antibody sequences and primers needed for cloning. His attitude, intellect, and hard work are inspiring.</p>
        </div>
      </div>
    
      <div class="container">
        <div class="body-section">
          <h3>Alyssa Dioguardi</h3>
          <p>Alyssa serves on the Human Outreach committee and Finance committee. She contributed to the group by reaching out to companies and potential sponsors, helped with grant proposals, conducted interviews for the IHP podcast, wrote the storybook for IHP, and participated in Wet Lab journal clubs. </p>
        </div>
      </div>

      <div class="container">
        <div class="body-section">
          <h3>Godwin Oluwafemi</h3>
          <p>Godwin is the Chief Financial Officer for our team. Godwin met with financial contacts and assisted in writing grant proposals. He greatly advised budgeting and team spending and monitored our spending.</p>
        </div>
      </div>
    
      <div class="container">
        <div class="body-section">
          <h3>Yasir Mahboba</h3>
          <p>Yasir is a member and presented at the Mid-Atlantic iGEM Meetup. He assisted in making competent cells.</p>
        </div>
      </div>

      <div class="container">
        <div class="body-section">
          <h3>Alex Heise</h3>
          <p>Alex is a member and observed modeling journal clubs and team meetings.</p>
        </div>
      </div>

      <div class="container">
        <div class="body-section">
          <h3>Dr. Keith Kozminski</h3>
          <p>We owe an enormous debt of gratitude to our instructor Dr. Keith Kozminski for both getting us involved in the iGEM competition and guiding us along the way. Dr. Kosminski taught the Synthetic Biology class we were required to take in order to participate in iGEM; there we learned what synthetic biology is, how the iGEM competitions work, and drafted project proposals. He constantly helped us troubleshoot our problems and provided us with necessary reagents. He also secured the funds and grants necessary for us to enter the iGEM competition and travel to Paris, France for the Grand Jamboree.</p>
        </div>
      </div>

      <div class="container">
        <div class="body-section">
          <h2>Our Sponsors</h2>
          <ul class="sponsors">
            <li>University of Virginia</li>
            <li>MITRE</li>
            <ul>
              <li>MITRE has been a very helpful sponsor for Virginia iGEM for many years now, and this year is no different. Representatives from MITRE met with our team in the spring semester for lunch and we discussed each of our project proposals we were developing for the summer. MITRE covered our team’s registration fees for the iGEM competition, allowing us to focus more on our project and not worrying about raising funds to be able to attend iGEM. We thank MITRE for all of their financial support and hope to continue working with them in the future.</li>
              <li>Special thanks to Kate Donovan and Caroline Kennedy for financial support and good advice on team organization</li>
            </ul>
            <li>National Science Foundation</li>
            <ul>
              <li>Grant number MCB-2226331</li>
            </ul>
            <li>Takeda Biosciences</li>
            <li>IDT</li>
            <li>Cytiva Biosciences</li>
            <li>Beckman Coulter</li>
            <li>Snapgene</li>
            <li>New England BioLabs</li>
          </ul>
        </div>
      </div>

      <div class="container">
        <div class="body-section bottom-page">
          <h2>Special Mentions</h2>
          <h3>Dr. Norbert Leitinger</h3>

          <h3>Dr. Swapnil Sonkusare</h3>

          <p>We want to give a special thanks to the additional researchers and individuals we met with to discuss our project. They are: <span class="bold-text">Dr. Bindu Kalesan, Dr. Coleen McNamara, nutritionist Katherine Basbaum, Dr. Amy Taylor, Colin Marino, and Julia Ball.</span> Your input and discussions with us have been invaluable.</p>
        </div>
      </div>
    </div>

        <!-- SPACING -->
        <div class="spacer-div"></div>

  </div>

  <div class="footer-preface">
    <div class="footer-divider">
      <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
        <path d="M985.66,92.83C906.67,72,823.78,31,743.84,14.19c-82.26-17.34-168.06-16.33-250.45.39-57.84,11.73-114,31.07-172,41.86A600.21,600.21,0,0,1,0,27.35V120H1200V95.8C1132.19,118.92,1055.71,111.31,985.66,92.83Z" class="shape-fill"></path>
      </svg>
    </div>
  </div>
</div>



{% endblock %}
