{% extends "layout.html" %}

{% block extraStyles %}
<link href="{{ url_for('static', filename = 'css/collab-style.css') }}" rel="stylesheet">

{% endblock %}
  
{% block title %}Collaborations{% endblock %}
{% block lead %}Sharing and collaboration are core values of iGEM. We encourage you to reach out and work with other teams on difficult problems that you can more easily solve together.{% endblock %}

{% block page_content %}

<div class="standard-header banner-v1 curvy-divider">
  <h1> Collaborations </h1>
  <div class="wave2">
   <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
       <path d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z" class="shape-fill"></path>
   </svg>
 </div>
</div>

<div class="d-flex flex-row justify-content-center body-padding">
   <div class="spacer-div"></div>

   <div class="body-container d-flex flex-column align-items-center justify-content-center" data-aos="fade-up" data-aos-duration="1000" data-aos-easing="ease-out-sine"">
      <div class="container">
         <div class="body-section top-page d-flex flex-row justify-content-center align-items-center">
            <div class="img-wrapper">
               <img class="zoom-img" src = "https://static.igem.wiki/teams/4477/wiki/rochester-virginia-meeting.png" alt = "Team Photo with URoch 2022" />
               <p>Our meeting with University of Rochester.</p>
            </div>
            <div class="text-wrapper ps-5">
               <h2>University of Rochester 2022</h2>
               <p> We met with the University of Rochester’s iGEM team to learn about each other’s projects and exchange feedback, primarily through our Integrated Human Practices and Wet Lab committees. It was fascinating to see both of our projects utilize the <span class="italic-text">E. coli</span> SHuffle strain to produce antibodies to fulfill extremely different purposes and we found it helpful to discuss and resolve roadblocks our team faced such as DNA cloning and DH5-alpha <span class="italic-text">E. coli</span> transformation. We also discussed different assembly methods as this was the particular issue that we both were facing. We each decided to try a different assembly method (Gibson Assembly for us, NEBuilder Hifi DNA assembly for them) and then report which method worked.</p>
            </div>
         </div>
      </div>

      <div class="container">
         <div class="body-section">
            <div class="collab-section d-flex flex-row justify-content-center align-items-center">
               <div class="text-wrapper pe-5">
                  <h2>Team IISER Pune 2022</h2>
                  <p> We partnered with the IISER Pune 2 team in our wet lab, modeling, and IHP efforts. To read a full description of this partnership, <a href="{{ url_for('pages', page='partnership') }}">read more on the partnership page</a>.</p>
               </div>
               <div class="img-wrapper shadow-wrapper">
                  <img class="zoom-img" src = "https://static.igem.wiki/teams/4477/wiki/iiser-virginia-meeting.png" alt = "Team Photo with IISER 2 2022 iGEM 2"/>
                  <p>Our first meeting with team IISER Pune II, which turned into an important partnership.</p>
               </div>
            </div>
         </div>
      </div>

      <div class="container">
         <div class="body-section bottom-page">
            <div class="collab-section">
               <div class="text-wrapper">
                  <h2>Midsummer Meetup</h2>
                  <p>On August 13th, the University of Maryland hosted a mid-Atlantic day-long conference attended by the University of Virginia, William and Mary, Johns Hopkins University, and East Coast Biocrew. Each school gave a brief presentation covering their progress and goals for this year's competition. It was a great opportunity to engage with other iGEMers, receive feedback on our own project, and clarify how we could best present our materials to communicate with larger audiences.</p>
               </div>
               <div class="img-wrapper">
                  <img style="max-width: 30rem;" src="https://static.igem.wiki/teams/4477/wiki/team-pictures/midsummeetup.jpg" alt="">
                  <p>Our team members at University of Maryland. (From left to right: Yasir Mahboba, Jayati Maram, Peneeta Wojcik, Marisa Guajardo, Yilun Zhou)</p>
               </div>
            </div>
         </div>
      </div>


      
   </div>
   <div class="spacer-div"></div>
</div>



   
<div class="footer-preface curvy-divider">
   <div class="footer-divider">
       <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
           <path d="M985.66,92.83C906.67,72,823.78,31,743.84,14.19c-82.26-17.34-168.06-16.33-250.45.39-57.84,11.73-114,31.07-172,41.86A600.21,600.21,0,0,1,0,27.35V120H1200V95.8C1132.19,118.92,1055.71,111.31,985.66,92.83Z" class="shape-fill"></path>
           </svg>
   </div>
</div>
{% endblock %}

