{% extends "layout.html" %}
  
{% block title %}Communication{% endblock %}
{% block lead %}Develop and implement education, science communication, and/or outreach materials related to synthetic biology.{% endblock %}

{% block page_content %}
<div class="standard-header banner-v1 curvy-divider">
  <h1> Communication </h1>

  <div class="asym-curve-divider">
    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
        <path d="M600,112.77C268.63,112.77,0,65.52,0,7.23V120H1200V7.23C1200,65.52,931.37,112.77,600,112.77Z" class="shape-fill"></path>
    </svg>
  </div>
</div>

<div class="row mt-4">
  <div class="col">
    <div class="bd-callout bd-callout-info">
      <h4>Gold Medal Criterion #6: Education & Communication</h4>
      <p>Develop and implement education, science communication, and/or outreach materials related to synthetic biology.<p>
      <p>All activities must follow Safety policies for <a href="https://responsibility.igem.org/safety-policies/human-subjects">Human Subjects Research</a>.</p>
      <hr>
      <p>Please see the <a href="https://competition.igem.org/judging/medals">2022 Medals Page</a> for more information.</p>
    </div>
  </div>
</div>

{% endblock %}