{% extends "layout.html" %}
  
{% block title %}Project Description{% endblock %}
{% block lead %}Describe how and why you chose your iGEM project.{% endblock %}

{% block page_content %}

<div class="standard-header">
  <h1> Project Description </h1>
</div>

<div class="body-container">
  <div class="container">

    <h2>Overview of Cardiovascular Disease</h2>
    <p>[NEED OVERVIEW OF CARDIOVASCULAR DISEASE] check wiki paragraphs</p>

    
  <h2>Inspiration Behind Our Project</h2>
  <p> Knowing that heart disease has a large impact on such a big percentage of the human population, as well as witnessing the recent discoveries of biomarkers and the molecular components of plaque buildup, we wanted to take the initiative towards lowering the CVD rate of mortality. The first step in doing this is earlier detection. </p>


  </div>
</div>


{% endblock %}
