{% extends "layout.html" %}
  

{% block title %}Project Description{% endblock %}
{% block lead %}Describe how and why you chose your iGEM project.{% endblock %}

{% block extraStyles %}
<link href="{{ url_for('static', filename = 'css/description-style.css') }}" rel="stylesheet">

{% endblock %}

{% block page_content %}


  <div class="standard-header banner-v1 curvy-divider">
      <h1> Project Description </h1>
      <div class="asym-curve-divider">
        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
            <path d="M600,112.77C268.63,112.77,0,65.52,0,7.23V120H1200V7.23C1200,65.52,931.37,112.77,600,112.77Z" class="shape-fill"></path>
        </svg>
      </div>
  </div>

<div class="d-flex flex-row mx-4 body-padding">
  <div class="fixed-index py-5 my-5 me-4 pe-5 d-flex flex-column align-self-start" data-aos="fade-up" data-aos-duration="1000" data-aos-easing="ease-out-sine">
    <div class="index heading d-flex flex-row align-items-start py-4">
      <div class="pe-3" role="button">Sections</div>
      <div class="ps-3" role="button">References</div>
    </div>

    <div class="index content">
      <div class="index-item active" role="button" id="introduction-desc">Introduction</div>
      <div class="indented index-item" role="button" id="risk-factors-desc">Behavioral Risk Factors of CVD</div>
      <div class="indented index-item" role="button" id="types-of-cvd-desc">Types of Cardiovascular Diseases</div>
      <div class="index-item" role="button" id="atherosclerosis-desc">Atherosclerosis</div> 
      <div class="indented index-item" role="button" id="problems-desc">Problems with Current Diagnosis Methods</div>
      <div class="index-item" role="button" id="solution-desc">Our Solution</div>
      <div class="indented index-item" role="button" id="lfa-desc">Lateral Flow Assay</div>
      <div class="indented index-item" role="button" id="inspiration-desc">Inspiration Behind our Project</div>
    </div>
  </div>

  <div class="body-container d-flex flex-column align-items-center justify-content-center pt-5 mt-5">
    <div class="container">
      <div class="body-section" data-aos="fade-up" data-aos-duration="1000" data-aos-easing="ease-out-sine">
        <h2 class="pb-3 mb-3" id="introduction-desc">Introduction</h2>
        <div class="text-wrapper pb-4 mb-3">
          <p>
            <span class="bold-text">Cardiovascular disease (CVD)</span> is a broad category of conditions that affect the <span class="bold-text">structure and function</span> of the heart and its surrounding vasculature. Common cardiovascular diseases include heart disease, heart attack, stroke, heart failure, arrhythmia, and heart valve problems <span class="tt" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-html="true" title="<p class='italic-text'>CITE THIS https://www.heart.org/en/health-topics/consumer-healthcare/what-is-cardiovascular-disease</p>"><sup>#</sup></span>.

            According to the Center for Disease Control and Prevention, heart disease is the <span class="bold-text">leading cause of death</span> in men, women, and people of the majority of racial and ethnic groups in the US. To put this into numbers, <span class="bold-text">one in every five deaths</span> in 2020, a year notoriously known for the coronavirus pandemic, was attributed to CVD<span class="tt" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-html="true" title="<p class='italic-text'>CITE THIS https://www.cdc.gov/heartdisease/facts.htm</p>"><sup>#</sup></span>.
          </p>
        </div>
      </div>
    </div>

    <div class="container body-section pb-4 mb-4" data-aos="fade-up" data-aos-duration="1000" data-aos-easing="ease-out-sine">
      <div class="header-wrapper pb-3 mb-3">
        <h4 id="risk-factors-desc">Behavioral Risk Factors of CVD <sup>#</sup></h4>
      </div>
      <div class="container py-5 d-flex flex-row flex-wrap flex-lg-nowrap justify-content-center align-items-center">
        <div class="blob-graphic d-flex flex-column justify-content-center align-items-center">
          <svg viewBox="0 0 800 500" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100%" id="blobSvg">
            <g transform="translate(148.8944549560547, -2.7576751708984375)">
              <path class="blob" d="M450,301Q463,352,412.5,371.5Q362,391,318,374Q274,357,246.5,372.5Q219,388,172,397.5Q125,407,102,369.5Q79,332,95,291Q111,250,95.5,209Q80,168,106,135Q132,102,164,57.5Q196,13,248.5,20.5Q301,28,350,45.5Q399,63,376,131.5Q353,200,395,225Q437,250,450,301Z" fill="#EDB4B4"></path>
            </g>
          </svg>
          <h3>Unhealthy Diet</h3>
        </div>

        <div class="blob-graphic d-flex flex-column justify-content-center align-items-center">
          <svg viewBox="0 0 800 500" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100%" id="blobSvg">
            <g transform="translate(148.8944549560547, -2.7576751708984375)">
              <path class="blob" d="M400,295Q437,340,409.5,378Q382,416,329.5,393Q277,370,244,395Q211,420,173,407Q135,394,86,373Q37,352,42.5,301Q48,250,89.5,221.5Q131,193,114,125.5Q97,58,150,51.5Q203,45,246.5,60Q290,75,332,85Q374,95,377.5,141Q381,187,372,218.5Q363,250,400,295Z" fill="#BBC2D9"></path>
            </g>
          </svg>
          <h3>Lack of Exercise</h3>
        </div>

        <div class="blob-graphic d-flex flex-column justify-content-center align-items-center">
          <svg viewBox="0 0 800 500" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100%" id="blobSvg">
            <g transform="translate(148.8944549560547, -2.7576751708984375)">
              <path class="blob" d="M468,302.5Q468,355,411,368Q354,381,328,429Q302,477,260,433Q218,389,175,393.5Q132,398,82.5,376Q33,354,29.5,302Q26,250,31,198.5Q36,147,85,126Q134,105,167,67.5Q200,30,243.5,60Q287,90,303,126.5Q319,163,347.5,176Q376,189,422,219.5Q468,250,468,302.5Z" fill="#A49BC5"></path>
            </g>
          </svg>

          <h3>Alcohol and tobacco use</h3>
        </div>
      </div>
    </div>

    <div class="container body-section pb-4 mb-3" data-aos="fade-up" data-aos-duration="1000" data-aos-easing="ease-out-sine">
      <h4 class="pb-3 mb-3">Types of Cardiovascular Diseases</h4>
      <div class="container text-wrapper">
        
            <h3>Coronary Heart Disease</h3>
            <p> <span class="bold-text">Coronary heart disease (CAD) occurs when the arteries cannot deliver enough oxygen-rich blood to the heart.</span> It is the most common type of heart disease, and has varying severity depending on the type. CADs begin as atherosclerosis, or cholesterol buildup in the artery walls which forms plaque. Over time, the buildup can block blood flow in the large arteries. CAD is “silent” in most cases, meaning that the first sign of illness is a heart attack or stroke. Treatment involves lifestyle changes such as managing stress, eating heart-healthy foods, and being physically active. After a cardiac event, patients are given statins to lower cholesterol or aspirin to lower the chance of a blood clot. </p>
          

          
            <h3>Arrhythmia</h3>
            <p>
              <span class="bold-text">Arrhythmia is a condition where the heart beats at an irregular pace.</span> It affects about 5% of the American population.
                
              <span class="tt" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-html="true" title="<p class='italic-text'> Antzelevitch, C., & Burashnikov, A. (2011). Overview of Basic Mechanisms of Cardiac Arrhythmia. Cardiac Electrophysiology Clinics, 3(1), 23–45. https://doi.org/10.1016/j.ccep.2010.10.012 </p>">
        
                <sup>#</sup>
              </span> 

              The causes of this disease vary, but typically include heavy smoking or alcohol use, an excess intake of caffeine or other stimulants, stress, thyroid disease, fever, and hereditary patterns. The severity of arrhythmia varies as well, with cases falling on a spectrum between completely harmless to life threatening.  Risk factors for arrhythmia include coronary artery disease, and it is highly recommended that people reduce their risk of developing arrhythmia by engaging in heart-healthy activities.
            </p>
          

          
            <h3>Congenital Heart Disease</h3>
            <p>
              <span class="bold-text">Congenital heart diseases (CHDs) result from abnormalities in the development of the heart that arise before birth. </span> Nearly 1% of babies born in the US are diagnosed with a CHD annually. Heart defects can range from underdeveloped structures of the heart such as valves and chambers, to the switched position of major arteries. 

              <span class="tt" data-bs-toggle="tooltip" data-bs-placement="top" title="cite this: https://www.cdc.gov/ncbddd/heartdefects/data.html"><sup>#</sup></span> 
              
              The cause of congenital heart disease is unknown, and corrective surgery is often needed for children born with a defect to live healthily into adulthood. Research suggests that children born with a CHD could be at a higher risk of developing coronary artery diseases including atherosclerosis later in life.
              
              <span class="tt" data-bs-toggle="tooltip" data-bs-placement="top" title="cite this: https://onlinelibrary.wiley.com/doi/full/10.1111/joim.13080"><sup>#</sup></span> 

              Individuals with CHD should monitor their heart health and take effort to live a healthy lifestyle. Examples of this are to eat a balanced diet, stay physically active unless advised otherwise by a doctor, avoid smoking and street drugs, and maintain a reasonable weight. 
              
              <span class="tt" data-bs-toggle="tooltip" data-bs-placement="top" title="cite this: https://www.heart.org/en/health-topics/congenital-heart-defects/care-and-treatment-for-congenital-heart-defects/heart-health-recommendations-for-those-with-chd"><sup>#</sup></span> 
            </p>
          
      </div>
    </div>
    
    <div class="container body-section" data-aos="fade-up" data-aos-duration="1000" data-aos-easing="ease-out-sine">
      <h2 class="pb-3 mb-3">Atherosclerosis and Pathogenesis</h2>
      <div class="text-wrapper pb-4 mb-3">
        <p>
          Atherosclerosis is a chronic inflammatory disease of the large arteries. It is the root cause of many coronary CVDs and can lead to heart attack or stroke.

          Atherosclerotic lesions are caused by <span class="bold-text">endothelial cell damage</span>, which causes low density lipoproteins (LDL) to enter the intima
          <span class="tt" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-html="true" title="<p class='italic-text'>Williams KJ, Tabas I (1995) The response-to-retention hypothesis of early atherogenesis. Arterioscler Thromb Vasc Biol 15:551– 561</p>"><sup>#</sup></span>. 
          
          LDL is very prone to <span class="bold-text">oxidation</span> from molecules released by damaged cells. OxLDL in high quantities is <span class="bold-text">toxic</span> and causes <span class="bold-text">more inflammation</span>. Inflammation attracts monocytes to the lesion and the monocytes migrate into the intima under the influence of chemokines [6]. As monocytes enter the intima, they differentiate into macrophages and engulf oxLDL, becoming foam cells. The foam cells undergo apoptosis and release lipid content, creating lipid necrotic cores [7]. A fibrous cap of collagen and elastin, produced by smooth muscle cells (SMCs), forms over the necrotic core, attempting to heal the lesion [8]. Lesions with a thin cap are more likely to rupture and thus less stable, leading to blockage of blood vessels and CVD [9]. After atherosclerosis lesions rupture, thrombus forms and chemokines play an important role in platelets activation and aggregation [10].
        </p> 
      </div>

    </div>


    <div class="container body-section" data-aos="fade-up" data-aos-duration="1000" data-aos-easing="ease-out-sine">
      <h4 class="pb-3 mb-3">Problems with Current Diagnosis Methods</h4>
      <div class="text-wrapper pb-5 mb-3">
        <p>Those at risk of developing cardiovascular disease often do not have any physical symptoms, until plaque build-up is so significant that organs and tissues lack oxygen. This means that the first indicator of atherosclerosis is a heart attack or stroke. The symptom most commonly reported, or the cause for seeking medical attention, is chest pain, which can be an indicator of angina, or ischaemia [10]. Diagnostics for these symptomatic patients, however, pose problems in terms of cost and/or effectiveness, and often require numerous doctor’s visits and extensive testing before a diagnosis is provided. </p>
        <img class="diagnostic-diagram.svg d-flexalign-items-center img-diagnostic-diagram" src="https://static.igem.wiki/teams/4477/wiki/images/diagnostic-diagram.svg"/>
      </div>
    </div>

    <div class="container body-section">
      <div class="wrapper" data-aos="fade-up" data-aos-duration="1000" data-aos-easing="ease-out-sine">
        <h2 class="pb-3 mb-3">Our Solution</h2>
        <div class="text-wrapper pb-4 mb-3">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio eum aliquid ipsam? Doloremque quaerat, sint rerum sit suscipit consectetur fuga inventore eos pariatur, magnam odio iste voluptatem repellendus aspernatur commodi maiores mollitia accusantium accusamus earum aut, corrupti minus? Consectetur impedit voluptatem hic, facere iure quis quasi expedita, nulla dicta molestiae autem ex quidem consequatur! Neque non voluptates illum quam earum totam error aspernatur rerum, perspiciatis consectetur, maxime aut, eaque optio. Rerum, incidunt. Veritatis dolores velit reiciendis, deserunt animi dolorem consectetur blanditiis, voluptate aperiam sed, laborum illum ipsa molestiae asperiores nemo! Suscipit, illum amet. Error mollitia illum nam fuga, dicta et.</p>
        </div>
      </div>

      <div class="body-section">
        <div class="section" data-aos="fade-up" data-aos-duration="1000" data-aos-easing="ease-out-sine">
          <h4 class="pb-3 mb-3">Lateral Flow Assay</h4>
          <div class="text-wrapper pb-4 mb-3">
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Adipisci non doloremque quidem quaerat beatae molestias at saepe. Deleniti blanditiis tempore illum voluptatum, dolore quisquam reiciendis molestias fuga, commodi assumenda odio.</p>
          </div>
        </div>
      </div>

      <div class="body-section" data-aos="fade-up" data-aos-duration="1000" data-aos-easing="ease-out-sine">
        <h4 class="pb-3 my-3">Inspiration Behind Our Project</h4>
        <div class="text-wrapper pb-5 mb-3">
          <p> Knowing that heart disease has a large impact on such a big percentage of the human population, as well as witnessing the recent discoveries of biomarkers and the molecular components of plaque buildup, we wanted to take the initiative towards lowering the CVD rate of mortality. The first step in doing this is earlier detection. </p>
        </div>
      </div>
    </div>
  </div>

  <!-- EMPTY DIV FOR SPACING -->
  <div class="spacer-div"></div>
</div>




{% endblock %}
