{% extends "layout.html" %}
  
{% block title %}Education{% endblock %}
{% block lead %}Innovative educational tools and outreach activities have the ability to establish a two-way dialogue with new communities by discussing public values and the science behind synthetic biology.{% endblock %}

{% block page_content %}

<div class="standard-header banner-v1 curvy-divider">
  <h1> Education</h1>

  <div class="wave2">
    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
        <path d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z" class="shape-fill"></path>
    </svg>
  </div>
</div>

<div class="d-flex flex-column justify-content-center align-items-center">
  <div class="body-container wave-div narrow">
      <div class="container">
        <div class="about-section d-flex flex-row justify-content-center align-items-center">
          <div class="wrapper">
            <h2>Our Educational Initiatives</h2>
            <p>An important part of iGEM is educating the general public and communicating with others about synthetic biology and our project idea. We wanted to educate and reach a multitude of audiences from different backgrounds and age groups. To do this, we created a story book with coloring pages to reach a younger audience and emphasize healthy nutrition. We also created an Instagram page with infographics and cooking recipes influenced by our meeting with nutritionist Katherine Basbaum.</p>
          </div>
          <div class="img-wrapper bunch-of-lfas">
            <img style="max-height: 15rem; padding: 2rem;"src="https://static.igem.wiki/teams/4477/wiki/images/pencildoodle.svg" alt="education">
          </div>
        </div>
      </div>
  </div>
</div>

<div class="d-flex flex-column justify-content-center">
  <div class="d-flex flex-row justify-content-center body-padding">
    <div class="index-padding">
      <div class="fixed-index">
          <p>FIXED INDEX will go here once styled</p>
      </div>
    </div>

    <div class="body-container d-flex flex-column align-items-center">
      <div class="container">
        <div class="body-section top-page">
          <div class="text-wrapper">
            <h2>Story Book</h2>
            <p>Part of our Integrated Human Practices & Outreach efforts involved the creation of an interactive storybook targeting children ages 3-11. Our book The Adventure of Athena Shuffle and Her Search For Healthy Habits is the conglomerate of all of the preventative advice we’ve received from experts- nutrition advice, the importance of regular medical visits and cardiovascular health, etc. - formatted in a manner accessible to younger audiences. Our storybook takes children on an interactive journey and teaches readers crucial information on how to stay heart healthy, keeping children engaged through the incorporation of word searches, hidden pictures, coloring pages, and other fill-in tasks. In efforts to distribute our storybook, we took copies to the UVA Hospital and handed them to children in the waiting room before their appointments. After seeing these children coloring some of these pages in, we snapped some images to share, copied below!</p>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="body-section">
          <h2>Instagram</h2>
          <p>
            Our Instagram account was created to share the progress of our project, connect with other iGEM teams, and post educational infographics about atherosclerosis, cardiovascular health, and synthetic biology. Our posts included an introduction to the team members, an introduction to atherosclerosis, and an overview of AtheroSHuffle. Through talking to Katherine Basbaum, a nutritionist, we learned the progress of atherosclerosis can be slowed through a diet packed with vegetables and protein, as this can prevent further plaque build-up. That means that in conjunction, we want the consumers of our device to also follow a healthy diet to prevent atherosclerosis development. Hence, we also used our Instagram account to share approved and tried recipes for our audience. These recipes were approved by Katherine Basbaum. Our instagram has given us an opportunity to reach larger audiences in our education efforts. 
            [LINK TO INSTA]
            Here are some of our earlier educational infographic posts!
            </p>

        </div>
      </div>
    </div>
    <div class="spacer-div"></div>

  </div>
</div>

<div class="footer-preface curvy-divider">
  <div class="footer-divider">
      <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
          <path d="M985.66,92.83C906.67,72,823.78,31,743.84,14.19c-82.26-17.34-168.06-16.33-250.45.39-57.84,11.73-114,31.07-172,41.86A600.21,600.21,0,0,1,0,27.35V120H1200V95.8C1132.19,118.92,1055.71,111.31,985.66,92.83Z" class="shape-fill"></path>
          </svg>
  </div>
</div>


{% endblock %}
