{% extends "layout.html" %}
  
{% block title %}Engineering Success{% endblock %}
{% block lead %}Demonstrate engineering success in a part of your project by going through at least one iteration of the engineering design cycle.{% endblock %}

{% block page_content %}
<div class="standard-header curvy-divider banner-v2">
  <h1> Engineering Success </h1>
  <div class="wave2">
    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
        <path d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z" class="shape-fill"></path>
    </svg>
  </div>
</div>

<div class="d-flex flex-column justify-content-center align-items-center">
  <div class="body-container wave-div narrow">
      <div class="container">
        <div class="about-section d-flex flex-row justify-content-center align-items-center">
          <div class="wrapper">
            <h2>The Engineering Design Cycle</h2>
            <p>Throughout the course of our project, we faced many challenges and setbacks we needed to overcome. We also talked to stakeholders and researchers to gain knowledge we otherwise would not have had. These warranted repeated changes to our design and tweaks to aspects of our project. Below, we show our iterations through the engineering design cycle, both due to integrated human practices and experimental discoveries.</p>
          </div>
          <div class="img-wrapper bunch-of-lfas">
            <img style="padding: 2rem;"src="https://static.igem.wiki/teams/4477/wiki/images/eng-des-cycl.svg" alt="lfa bunch">
          </div>
        </div>
      </div>
  </div>
</div>

<div class="d-flex flex-row justify-content-center body-padding">
  <div class="index-padding">
    <div class="fixed-index">
      <p>Fixed index here</p>
    </div>
  </div>

  <div class="body-container d-flex flex-column align-items-center justify-content-center" data-aos="fade-up" data-aos-duration="1000" data-aos-easing="ease-out-sine">
    <div class="container">
      <div class="body-section top-page">
        <div class="text-wrapper">
          <h2>Choosing a Primary scFv Antibody Fragment</h2>
        </div>
        <div class="text-wrapper">
          <h4>Cycle 1</h4>
          <h4>Design</h4>
          <p>Our design is based around producing three different antibodies for our test strip: the first to bind to oxLDL, the second to bind to oxLDL on a different location than the first to form a sandwich complex, and a third to bind to our first antibody as a control. In order to increase efficiency and simplicity we decided to produce our second antibody as just the scFv fragment that detects our biomarker. Through extensive research we chose the IK-17 antibody, known to bind to oxLDL, as our scFv.</p>

          <h4>Build</h4>
          <p>In order for IK-17 to work as our scFv, we needed it to bind to oxLDL at a different location than our first antibody(orticumab). So we used AlphaFold to produce 3D structures of the IK-17 scFv, orticumab, and the ApoB protein on oxLDL. </p>

          <h4>Test</h4>
          <p>We then used several protein docking softwares to test if our scFv bound ApoB at a different location than orticumab, but none of the docking softwares we tried had the capability to predict the specific binding sites of our proteins. </p>
        </div>

        <div class="text-wrapper">
          <h4>Cycle 2</h4>
          <h4>Design</h4>
          <p>After meeting with Dr. Norbert Leitinger, a researcher in the Univeristy of Virginia Pharmacology department (see IHP), we learned what kind of antibodies are being used today in the field of oxidized phospholipids. He recommended that we use the E06 antibody that binds to the oxidized phospholipids on oxLDL rather than the ApoB protein. Instead of using E06, we decided to use the scFv of the MCPC603 antibody, which also binds to oxidized phospholipids.</p>

          <h4>Build</h4>
          <p>We constructed a plasmid for MCPC603 and transformed it into an E. coli SHuffle strain, under the same conditions as all our other plasmids.</p>

          <h4>Test</h4>
          <p>We decided the best course of action to ensure oxLDL would bind to our scFv (the test line) would be to include both the scFv of IK-17 and MCPC603. Having one antibody bind to the ApoB protein and one bind to the oxidized phospholipids on oxLDL provides the greatest variability in forming a sandwich complex with the first antibody.</p>
        </div>
        

      </div>
    </div>
  </div>
    <!-- SPACING -->
  <div class="spacer-div"></div>
</div>

{% endblock %}
