{% extends "layout.html" %}
  
{% block extraStyles %}

<link href="{{ url_for('static', filename = 'css/ihp-style.css') }}" rel="stylesheet">

{% endblock %}

{% block title %}Human Practices{% endblock %}
{% block lead %}We ask every team to think deeply and creatively about whether their project is responsible and good for the world. Consider how the world affects your work and how your work affects the world.{% endblock %}

{% block page_content %}

<div class="standard-header banner-v2 curvy-divider">
  <h1> Integrated Human Practices </h1>
  <div class="wave3">
    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
        <path d="M985.66,92.83C906.67,72,823.78,31,743.84,14.19c-82.26-17.34-168.06-16.33-250.45.39-57.84,11.73-114,31.07-172,41.86A600.21,600.21,0,0,1,0,27.35V120H1200V95.8C1132.19,118.92,1055.71,111.31,985.66,92.83Z" class="shape-fill"></path>
    </svg>
  </div>
</div>

<div class="container">
    <div class="section section-top">
      <h2>Communication is Key</h2>
      <p>
        Our approach to creating a product included vast prior research and expertise before we finalized our goal. This stems from our team’s belief that a solution cannot be made first before the problem is found, but rather a problem is known and a solution works within its conditions. Because we wanted to tackle the problem of rising cardiovascular diseases, we needed to make sure our solution would be implemented from the root cause of this problem, and not simply mitigate the effects. This is why our team has identified certain core values to integrate into all parts of our project. Let's explore the values we have chosen and how we incorporated them!
      </p>
  </div>
</div>

    <div class="container">
      <div class="body-section">
        <h2>Creating a Mission Statement</h2>
        <p>Blurb about integration and its importance, transition into INTEGRATE</p>
      </div>
    </div>

    <div class="container">
      <div class="wrapper acronym d-flex align-items-center justify-content-center">
        <p class="super-bold large-font">I N T E G R A T E</p>
      </div>
    </div>
    
  </div>
</div>

{% endblock %}
