{% extends "layout.html" %}
  
{% block title %}Proposed Implementation{% endblock %}
{% block lead %}Explain how you would implement your project in the real world.{% endblock %}

{% block page_content %}

<div class="standard-header banner-v3 curvy-divider">
  <h1>Proposed Implementation</h1>
  <div class="wave2">
    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
        <path d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z" class="shape-fill"></path>
    </svg>
  </div>
</div>


<div class="d-flex flex-column justify-content-center align-items-center">
  <div class="body-container wave-div narrow">
      <div class="container">
        <div class="about-section d-flex flex-row justify-content-center align-items-center">
          <div class="wrapper">
            <h2>About</h2>
            <p>Lateral flow assays (LFAs) are paper-based detection methods. Lateral flow immunoassays, a specific type of LFA, use a series of antibodies to detect whether a biomarker is present in a liquid sample. (Lateral flow assays - PMC (nih.gov))</p>
          </div>
          <div class="img-wrapper bunch-of-lfas">
            <img style="max-height: 15rem; padding: 2rem;"src="https://static.igem.wiki/teams/4477/wiki/images/lfa-group.svg" alt="lfa bunch">
          </div>
        </div>
      </div>
  </div>
</div>

<div class="d-flex flex-column justify-content-center">
  <div class="d-flex flex-row justify-content-center body-padding">
    <div class="index-padding">
      <div class="fixed-index">
          <p>FIXED INDEX will go here once styled</p>
      </div>
    </div>



    <div class="body-container d-flex flex-column align-items-center justify-content-center">
      <div class="container">
        <div class="body-section top-page">
          <div class="text-wrapper">
            <h2>Test Strip</h2>
            <p>
              The ultimate goal of our project is to create a test strip that consumers can buy at their local pharmacy and use at home. An alcohol pad, safety lancet, bandage, and instruction booklet will be provided along with the test strip itself. A user will wipe their fingertip with the alcohol pad, prick their fingertip with the safety lancet, and drop a few drops of blood onto the sample window of the test strip. They will then wait at least 15 minutes for the test to run and can then interpret their results. 
              Tests that can be used by consumers in their homes without the aid of a medical professional, called point-of-care tests, have several additional design constraints beyond the usual requirements of giving sensitive and specific results. 
              </p>
          </div>

          <ul>
            <li>Tests must be cheap to produce</li>
            <li>Safe and easy to use without the supervision of a medical professional</li>
            <li>Requires clinical trials to prove the test strip maintains accuracy</li>
          </ul>

          <div class="text-wrapper">
            <p>
              As for the other three requirements, we have already seen success due to our design of our test strip. The materials for LFAs such as membranes and pads are relatively cheap, and we have further reduced the cost by 3D printing the LFA cassette. Our test strip is safe for consumers because we are including safety lancets for consumers to use to prick themselves, which limits the risk that consumers will accidentally injure themselves with the lancets. 
              Our test strip will be encased within a durable plastic cassette which prevents any fluids from our test from contacting the skin of the user, further increasing the safety of our test. According to the advice of our institutional biosafety officers, our test strip is not toxic or biohazardous waste and can be thrown in the regular garbage. We will also make our test easy to use by putting labels on the cassette itself and providing an instruction booklet.
              </p>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="body-section">
          <div class="text-wrapper">
            <h2>App</h2>
            <p>
              In addition to the LFA, our team plans to employ an app to bolster the diagnostics of our device and provide plans in response to the assay's results. To bolster the diagnostics of our device, our team will develop a model to more accurately characterize a user's risk for atherosclerosis. Factors this model will consider include age, current diseases a user may have (e.g. diabetes, hypertension, etc.), smoking habits, dietary habits, and physical activity. Data for this model will be sourced from patient data that reports on the aforementioned factors and corresponding risk levels for atherosclerosis. The main aim for analyzing these risk factors is to provide a more accurate diagnostic tool for the user. Furthermore, with user permission, the app can also function as a data collection point for a more in depth study on risk factors for atherosclerosis.
              The app is also designed to provide the user with one of several plans depending on the result of the assay and the risk of atherosclerosis determined by the model. These plans may include changing diet and/or physical activity levels or scheduling an appointment with the user's primary care physician for a more in depth diagnostic depending on the level of risk the assay and app have determined the user to be at. These plans were created by our team after discussing methods to mitigate atherosclerosis and atherogenesis with experts and consulting relevant literature.
              </p>
          </div>
        </div>
      </div>
    </div>
    <div class="spacer-div"></div>
  </div>
</div>


<div class="row mt-4">
  <div class="col">
    <div class="bd-callout bd-callout-info">
      <h4>Silver Medal Criterion #4</h4>
      <p>Explain how you would implement your project in the real world.<p>
      <hr>
      <p>Please see the <a href="https://competition.igem.org/judging/medals">2022 Medals Page</a> for more information.</p>
    </div>
  </div>
</div>

{% endblock %}
