{% extends "layout.html" %}
  
{% block title %}Proposed Implementation{% endblock %}
{% block lead %}Explain how you would implement your project in the real world.{% endblock %}

{% block page_content %}

<div class="standard-header banner-v3 curvy-divider">
  <h1>Proposed Implementation</h1>
  <div class="wave2">
    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
        <path d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z" class="shape-fill"></path>
    </svg>
  </div>
</div>

<div class="d-flex flex-column justify-content-center">
  <div class="d-flex flex-row justify-content-center body-padding">
    <div class="index-padding">
      <div class="fixed-index">
      </div>
    </div>

    <div class="body-container d-flex flex-column align-items-center justify-content-center">
      <div class="container">
        <div class="body-section top-page">
          <div class="text-wrapper">
            <h2>Test Strip</h2>
            <p>
              The ultimate goal of our project is to create a test strip that consumers can buy at their local pharmacy and use at home. <span class="bold-text">An alcohol pad, safety lancet, bandage, and instruction booklet</span> will be provided along with the test strip itself. A user will wipe their fingertip with the alcohol pad, prick their fingertip with the safety lancet, and drop a few drops of blood onto the sample window of the test strip. They will then wait at least 15 minutes for the test to run and can then interpret their results. 
              <br>
              <br>
              Tests that can be used by consumers <span class="bold-text">in their homes</span> without the aid of a medical professional, called point-of-care tests, have several additional design constraints beyond the usual requirements of giving sensitive and specific results. 
            </p>
          </div>

          <div class="text-wrapper">
            <ul>
              <li>Tests must be <span class="bold-text">cheap</span> to produce</li>
              <li>Safe and <span class="bold-text">easy</span> to use without the supervision of a medical professional</li>
              <li>Requires clinical trials to prove the test strip maintains <span class="bold-text">accuracy</span></li>
            </ul>
          </div>

          <div class="text-wrapper">
            <p>
              As for the other three requirements, we have already seen success due to our design of our test strip. The materials for LFAs such as membranes and pads are relatively cheap, and we have further reduced the cost by 3D printing the LFA cassette. Our test strip is safe for consumers because we are including safety lancets for consumers to use to prick themselves, which limits the risk that consumers will accidentally injure themselves with the lancets. 
              <br>
              <br>
              Our test strip will be encased within a <span class="bold-text">durable plastic cassette</span> which prevents any fluids from our test from contacting the skin of the user, further increasing the safety of our test. According to the advice of our institutional biosafety officers, our test strip is not toxic or biohazardous waste and can be thrown in the regular garbage. We will also make our test easy to use by putting labels on the cassette itself and providing an instruction booklet.
            </p>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="body-section">
          <div class="text-wrapper">
            <h2>App</h2>
            <p>In addition to the LFA, our team plans to employ an app to bolster the diagnostics of our device, and provide plans in response to the assay's results and the risk of atherosclerosis determined by a risk-score calculator. This app is our final communications project as a response to the knowledge gained in our human practices effort. Results from our survey showed that there can still be improvement for the awareness levels of atherosclerosis and risk factors, with only 77% of respondents being aware. In addition to awareness, this app would be a resource to decrease one’s risk of cardiovascular diseases. </p>
            <p>
              The app demo, called AtheroSHuffle, is attached below. The app is divided into five main tabs: home, risk score calculator, meals, location, and general information. The main page of the app allows users to input their test results, and then click to open the calculator or general information. 
            </p>
            <ul>
              <li>The risk-score calculator is based on Framingham’s risk score which takes into account age, cholesterol, blood pressure and other factors to give a result of a 10-year risk of heart disease.</li>
              <li>The next tab has a cookbook integrated with the app which allows users to search up heart-healthy recipes with calories and time included.</li>
              <li>The current recipes on the app demo are approved by Katherine Basbaum, a nutritionist at UVA, and the final version of the app will have our entire cookbook. The fourth tab of the app would indicate a feature to locate your nearest physicians and nutritionists, where clicking on their profile would open up their contact information.</li>
              <li>The final information tab will include more information on atherosclerosis, its risk factors, detection methods and current treatments.</li>
            </ul>
          </div>
        </div>
      </div>

      

      <div class="container">
        <div class="body-section">
          <div class="text-wrapper">
            <h4>Features and Updates</h4>
            <p>Future updates to the app will include a potential modeling project to create our own risk-score analysis with machine learning that incorporates additional risk factors of both genetic and environmental such as race, genes, eating habits, etc. The current Framingham score calculator will be replaced by this model and can more accurately characterize a user’s risk score. Data for this model will be sourced from patient data that reports on the aforementioned factors and corresponding risk levels for atherosclerosis. 
              <br>
              <br>
             <div class="vid-wrapper team index">
               <a href"https://drive.google.com/file/d/1A6A3f4bdMgrzi-1N431u6t5RBNCqY48V/view?usp=sharing">App Demo here</a>
          
          </div>
              <br>
              Other future implementations include personalized reports after the user inserts their risk factors into the calculator. These plans may include changing diet and/or physical activity levels or scheduling an appointment with the user's primary care physician for a more in depth diagnostic depending on the level of risk the assay and app have determined the user to be at. These plans would be created by our team after discussing methods to mitigate atherosclerosis and atherogenesis with experts and consulting relevant literature. Furthermore, with user permission, the app can also function as a data collection point for a more in depth study on risk factors for atherosclerosis.
              </p>
          </div>
        </div>
      </div>
    </div>
    <div class="spacer-div"></div>
  </div>
</div>


<div class="footer-preface curvy-divider">
  <div class="footer-divider">
      <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
          <path d="M985.66,92.83C906.67,72,823.78,31,743.84,14.19c-82.26-17.34-168.06-16.33-250.45.39-57.84,11.73-114,31.07-172,41.86A600.21,600.21,0,0,1,0,27.35V120H1200V95.8C1132.19,118.92,1055.71,111.31,985.66,92.83Z" class="shape-fill"></path>
          </svg>
  </div>
</div>

{% endblock %}
