{% extends "layout.html" %}

{% block extraStyles %}
<script src="{{ url_for('static', filename = 'ngl/dist/ngl.js') }}"></script>

{% endblock %}

{% block title %}Model{% endblock %}
{% block lead %}Explain your model's assumptions, data, parameters, and results in a way that anyone could understand.{% endblock %}

{% block page_content %}

<div class="standard-header banner-v1 curvy-divider">
  <h1> Modeling </h1>
  <div class="wave2">
    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
        <path d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z" class="shape-fill"></path>
    </svg>
  </div>
</div>

<div class="modeling about d-flex flex-column align-items-center justify-content-center curvy-divider">
  <div class="body-container wave-div narrow">
    <div class="container">
      <div class="d-flex flex-row justify-content-center align-items-center">
        <div class="narrow-content about-wrapper">
          <h2>Solving Problems with Precision</h2>
          <div class="no-text-wrapper">
            <p>Modeling is a <span class="bold-text">vital part</span> of the design process for any project because it allows variables that cannot be feasibly tested in Wet Lab to be simulated. Project modeling is more than analyzing important variables; <span class="bold-text">it accelerates the engineering design cycle</span> and <span class="bold-text">saves resources.</span> 
            <br>
            For our project, modeling has provided a <span class="bold-text">streamlined process</span> for wet lab experiments by testing variables that are in question and optimizing the conditions. We used modeling to <span class="bold-text">predict the 3D structures of antibodies</span> that we are working with, which would normally take several months to determine experimentally. We also focused on <span class="bold-text">LFA optimization</span> to predetermine which parameters would produce the best results in the lab.</p>
          </div>
        </div>
        <div class="img-wrapper computer">
          <img style="padding-left: 3rem;" src="https://static.igem.wiki/teams/4477/wiki/images/modelingsmall.svg" alt="model program">
        </div>
      </div>
    </div>
  </div>
  <div class="gray-divider">
    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
        <path d="M985.66,92.83C906.67,72,823.78,31,743.84,14.19c-82.26-17.34-168.06-16.33-250.45.39-57.84,11.73-114,31.07-172,41.86A600.21,600.21,0,0,1,0,27.35V120H1200V95.8C1132.19,118.92,1055.71,111.31,985.66,92.83Z" class="shape-fill"></path>
    </svg>
  </div>
</div>


<div class="gray d-flex flex-row body-padding">
  <div class="index-padding">
    <div class="fixed-index d-flex flex-column align-self-start" data-aos="fade-up" data-aos-duration="1000" data-aos-easing="ease-out-sine">
      <div class="wrapper mx-4">
        <div class="index heading d-flex flex-row align-items-center justify-content-start py-4">
          <div class="top-select active" id="toc" role="button" onclick="selectTop(this)">Index</div>
          <div class="top-select" id="refs" role="button" onclick="selectTop(this)">References</div>
        </div>

        <div class="tab references content d-flex flex-column hidden" id="references">
            <div class="wrapper">
                <p>
                  1.	Holvoet, P. et al. Circulating Oxidized LDL Is a Useful Marker for Identifying Patients With Coronary Artery Disease. Arteriosclerosis, Thrombosis, and Vascular Biology 21, 844–848 (2001).
                  <br>
                  2.	Protein Molecular Weight. https://www.bioinformatics.org/sms/prot_mw.html.
                  <br>
                  3.	Gasperino, D. Improving Lateral Flow Assay Performance Using Computational Modeling | Annual Review of Analytical Chemistry. https://www.annualreviews.org/doi/10.1146/annurev-anchem-061417-125737 (2018).
                  <br>
                  4.	Mass action kinetics - Mathematics of Reaction Networks. https://reaction-networks.net/wiki/Mass_action_kinetics.
                  <br>
                  5.	Landry, J. P., Ke, Y., Yu, G.-L. & Zhu, X. D. Measuring Affinity Constants of 1,450 Monoclonal Antibodies to Peptide Targets with a Microarray-based Label-Free Assay Platform. J Immunol Methods 417, 86–96 (2015).
                  <br>
                  6.	Liu, Z. et al. The effect of report particle properties on lateral flow assays: A mathematical model. Sensors and Actuators B: Chemical 248, 699–707 (2017).
                  <br>
                  7.	Glinowiecka-Cox, M. Analytic Solution of 1D Diffusion-Convection Equation with Varying Boundary Conditions. (Portland State University, 2022). doi:10.15760/honors.1224.
                  <br>
                  8.	T--Rochester--lfam.pdf.
                  <br>
                </p>
            </div>
        </div>

        <div class="tab index" id="index">
          <div class="index content d-flex flex-column" id="scrollspy-index-list">
            <div class="index-item active" role="button" scrollTo="head1" onclick="scrollToSection(this)">Protein Modeling</div>
            
            <div class="index-item" role="button" scrollTo="head2" onclick="scrollToSection(this)">Lateral Flow Assay Modeling: Introduction</div>
  
            <div class="indented index-item" role="button" scrollTo="head3" onclick="scrollToSection(this)">What is Unique to our Design</div>
  
            <div class="index-item" role="button" scrollTo="head4" onclick="scrollToSection(this)">Choosing a Chassis</div>
  
            <div class="indented index-item" role="button" scrollTo="head5" onclick="scrollToSection(this)">How SHuffle Works</div>
  
            <div class="index-item" role="button" scrollTo="head6" onclick="scrollToSection(this)">Plasmid Design</div>
  
            <div class="index-item" role="button" scrollTo="head7" onclick="scrollToSection(this)">Designing Our Antibodies</div>
  
            <div class="indented index-item" role="button" scrollTo="head8" onclick="scrollToSection(this)">Labelled Anti-ApoBMDA Design</div>
  
            <div class="indented index-item" role="button" scrollTo="head9" onclick="scrollToSection(this)">Anti-OxLDL Design</div>

            <div class="indented index-item" role="button" scrollTo="head10" onclick="scrollToSection(this)">Anti-IgG Design</div>

            <div class="index-item" role="button" scrollTo="head11" onclick="scrollToSection(this)">Biosafety</div>

            <div class="index-item" role="button" scrollTo="head12" onclick="scrollToSection(this)">Hardware</div>
        </div>
      </div>
    </div>
  </div>
</div>

  <div class="body-container d-flex flex-column" data-aos="fade-up" data-aos-duration="1000" data-aos-easing="ease-out-sine">
    <div class="container">
      <div class="body-section top-page" id="head1">
        <h2>Protein Modeling</h2>
        <div class="text-wrapper">
          <p>The original aim for protein modeling was to model the <span class="bold-text">sandwich complex</span> between the labeled antibody and the test-line antibody, which indicates a positive test. The plan was to predict the epitopes on the biomarker OxLDL that our labeled full-length IgG antibody and single-chain variable fragments (scFv) would bind to. By knowing these epitopes, we could determine which scFv fragment out of the variety of candidates would not interfere with the binding of the labeled antibody.</p> 

          <p>We first generated the structures of the three antibodies and apolipoprotein B-100 (apoB-100), which is the carrier protein on OxLDL. We successfully created Protein Data Bank (PDB) structure files for each antibody using AlphaFold. However, because of the size and complexity of apoB-100 due to the lipid composition of LDL, we were unable to model the complete structure of the biomarker. This meant we were unable to utilize docking softwares to predict the binding of the biomarker with our lateral flow assay components.</p>

          <p>However, with further reading and meeting with researchers in the field, the modeling team was able to determine an ideal sequence for our scFv. The protein models of the lateral flow assay components were ultimately utilized in determining which strain of <span class="italic-text">E. coli</span> to synthesize the scFv and nanobody in. Since each of the selected scFv fragments and the nanobody contained disulfide bonds, the fragments must be expressed in SHuffle <span class="italic-text">E. coli</span> cells instead of another strain of <span class="italic-text">E. coli.</span></p>
        </div>
      </div>


      <!-- McPC603 -->
      <div class="pdb-struct McPC603-scFv d-flex flex-column flex-wrap align-items-center justify-content-evenly">
        <div class="container">
        </div>
        <!-- HELPER SCRIPT -->
        <script>
        document.addEventListener("DOMContentLoaded", function () {
            // Create NGL Stage object
        var stage = new NGL.Stage( "McPC603-VP", {
          // NEED TO CHANGE THIS LATER if we change page color
          backgroundColor: 'white',
        });

        // Load PDB
        stage.loadFile("{{ url_for('static', filename = 'pdb/mcpc603-scFv.pdb') }}").then(function (oMcPC603) {
          oMcPC603.addRepresentation("surface", {
              colorScheme: "bfactor",
              contour: "true",
              colorScale: "spectral",
          });
          oMcPC603.addRepresentation("cartoon", {

          });
          stage.setSpin(true);
          oMcPC603.autoView();
          
        });
        });
        </script>
        <!-- Initialize the Viewport -->
        <div class="pdb">
          <div id="McPC603-VP" style="width: 400px; height: 500px;"></div>
        </div>
        <div class="wrapper">
          <h3>McPC603 scFv Ribbon and Surface Model</h3>
          <div class="text-wrapper">
            <p>This is a model generated from AlphaFold of the McPC603 antibody fragment. We generated models like these for our other antibodies to visualize them.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="body-section" id="head2">
        <div class="text-wrapper">
          <h2>Lateral Flow Assay Modeling: Introduction</h2>
          <h4>The Goal</h4>
          <p> Modeling works closely with wet lab to make major design decisions in the construction of the lateral flow assay (LFA). In this project, the goal for modeling is to determine the optimal (i.e. the minimum) concentration of detector units (full length IgG antibodies conjugated to a gold nanoparticle) that need to be placed on the sample pad in order to produce a visible signal at the test and control lines when at least 0.8 mg/dL (or 8 mg/L) of oxLDL is present in the blood sample.<sup>1</sup> This is the threshold for oxLDL circulating in the bloodstream that indicates early development of atherosclerosis. Our team determined that the optimum concentration of the detector units is the minimum possible concentration because gold nanoparticles are the most costly portion in building our LFA pilots. Thus, the work in modeling <span class="bold-text">necessarily reduced the time and cost of producing the physical test strip</span>. 
          </p>
        </div>
      </div>
    </div>  
    <div class="container">
      <div class="body-section">
        <div class="text-wrapper">
          <h4>Constraints</h4>
          <p> 1. The <span class="bold-text">test must produce a signal with 0.8 mg/dL of oxLDL in the blood sample</span>. We aim for our test to be sensitive to this stage of atherosclerotic development because it marks the stage at which users are at high risk for atherosclerosis but still have time to halt or even reverse the development process (through healthy diets, increased exercise, etc). 
            <br>
            <br>
          2. We will focus on optimizing the amount of detector units we place onto the test strip. So, <span class="bold-text">the other parameters that are required to create a LFA are fixed as follows</span>:
          <br>
            a. The distance between the end of the conjugate pad and the test line is 20 mm
            <br>
            b. The distance between the test line and the control line is 10 mm
            <br>
            c. The concentration of receptor antibodies (the antibodies at the control line and the test line) are 10 nM
            </p>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="body-section">
        <div class="text-wrapper">
          <h4>Components and Terms</h4>
        </div>
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Variable</th>
              <th scope="col">Term</th>
              <th scope="col">Molecule</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">A</th>
              <td>Analyte</td>
              <td>oxLDL (biomarker)</td>
            </tr>
            <tr>
              <th scope="row">D</th>
              <td>Detector Unit</td>
              <td>Gold nanoparticles conjugated to full sized IgG antibodies</td>
            </tr>
            <tr>
              <th scope="row">AD</th>
              <td>analyte detector unit complex</td>
              <td>oxLDL-conjugated-full-sized-IgG complex</td>
            </tr>

            <tr>
              <th scope="row">T<sub>1</sub></th>
              <td>IK17 scFv</td>
              <td>test line receptor antibody</td>
            </tr>
<!-- fgfgfgfgfgf -->
            <tr>
              <th scope="row">T<sub>2</sub></th>
              <td>McPC603 scFv</td>
              <td>test line receptor antibody 2</td>
            </tr>

            <tr>
              <th scope="row">T<sub>1</sub>AD</th>
              <td>test line receptor antibody 1 analyte detector unit complex</td>
              <td>IK17-detector-unit complex</td>
            </tr>

            <tr>
              <th scope="row">T<sub>2</sub>AD</th>
              <td>test line receptor antibody 2 analyte detector unit complex</td>
              <td>McPC603-detector-unit complex</td>
            </tr>

            <tr>
              <th scope="row">C</th>
              <td>control line receptor antibody</td>
              <td>V<sub>H</sub>H (nanobody)</td>
            </tr>

            <tr>
              <th scope="row">CAD</th>
              <td>control line receptor antibody analyte detector unit complex</td>
              <td>V<sub>H</sub>H-oxLDL-detector unit complex</td>
            </tr>

            
          </tbody>
        </table>
      </div>
    </div>

    <div class="container">
      <div class="body-section">
        <div class="text-wrapper">
          <h4>Remarks</h4>
          <p><span class="bold-text">We will consider all concentrations in terms of mg/L.</span> This is due to the unknown molar mass of oxLDL. Currently, the concentration of oxLDL in the blood which correlates to a high risk of developing atherosclerosis is only reported in terms of mg/dL. Thus, we are unable to convert this threshold into molar concentrations. So, we used an online protein calculator to calculate the weight of each component (listed below) of the LFA.<sup>2</sup></p>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="body-section">
        <div class="text-wrapper">
          <h4>The Problem Setup<h4>
          <p>  
            A standard LFA, including our design, is composed of four different pads: the sample pad, the conjugate pad, the nitrocellulose membrane, and the absorbent pad. 
          </p>
        </div>

        <div class="img-wrapper lfa">
          <img style="width: 60%;" src="https://static.igem.wiki/teams/4477/wiki/labeled-lfa-01-artboard-1-1-2.svg" alt="">
        </div>
      </div>
    </div>

    <div class="container">
      <div class="body-section">
        <div class="text-wrapper">
          <h3>Scenario 1: At least 0.8 mg/dL of oxLDL is present in the sample</h3>
          <p></p>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="body-section">
        <div class="text-wrapper">
          <h3>Scenario 2: Less than 0.8 mg/dL of oxLDL is present in the sample</h3>
          <p></p>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="body-section">
        <div class="text-wrapper">
          <h2>Components and terms</h2>
          <p>Do we need a tbl here</p>
          
        </div>
      </div>
    </div>

    <div class="container">
      <div class="body-section">
        <div class="text-wrapper">
          
        </div>
      </div>
    </div>

    <div class="container">
      <div class="body-section">
        <div class="text-wrapper">
          <h2>The Problem Set-Up: Developing and Using Differential Equations and Systems of Equations</h2>
          <h4>Assumptions</h4>
          <p></p>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="body-section">
        <div class="text-wrapper">
          <h4>Using the Advection Dispersion Reaction Equation (ADRE)</h4>
          <p></p>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="body-section">
        <div class="text-wrapper">
          <h4>Using Mass Action Kinetics Equations</h4>
          <p></p>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="body-section">
        <div class="text-wrapper">
          <h4>Reaction Chemical Equations</h4>
          <p></p>
          <div class="markdown-wrapper">
            <p>idkhowto addthis, maybe js screenshot</p>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="body-section">
        <div class="text-wrapper">
          <h4>Breaking the Lateral Flow Assay (LFA) into Three Systems</h4>
          <p></p>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="body-section">
        <div class="text-wrapper">
          <h4>Partial Differential Equation (PDE) System</h4>
          <p></p>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="body-section">
        <div class="text-wrapper">
          <h2>Solving the Systems of Equations (Using MatLab)</h2>
          <p></p>
        </div>
      </div>
      <div class="body-section">
        <div class="text-wrapper">
          <h4>Boundary Conditions</h4>
          <p></p>
        </div>
      </div>

      <div class="body-section">
        <div class="text-wrapper">
          <h4>Solving the PDE System</h4>
          <p></p>
        </div>
      </div>
    </div>





          

  </div>

  <!-- EMPTY DIV FOR SPACING -->
  <div class="spacer-div"></div>
</div>

<div class="footer-preface curvy-divider">
  <div class="footer-divider">
      <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
          <path d="M985.66,92.83C906.67,72,823.78,31,743.84,14.19c-82.26-17.34-168.06-16.33-250.45.39-57.84,11.73-114,31.07-172,41.86A600.21,600.21,0,0,1,0,27.35V120H1200V95.8C1132.19,118.92,1055.71,111.31,985.66,92.83Z" class="shape-fill"></path>
          </svg>
  </div>
</div>

{% endblock %}
