{% extends "layout.html" %}

{% block title %}Team{% endblock %}
{% block lead %}On this page you can introduce your team members, instructors, and advisors.{% endblock %}

{% block extraStyles %}
<link href="{{ url_for('static', filename = 'css/teampage.css') }}" rel="stylesheet">

{% endblock %}


{% block page_content %}


<div class="standard-header banner-v1 curvy-divider">
    <h1> Team Members </h1>
    <div class="asym-curve-divider">
      <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
          <path d="M600,112.77C268.63,112.77,0,65.52,0,7.23V120H1200V7.23C1200,65.52,931.37,112.77,600,112.77Z" class="shape-fill"></path>
      </svg>
    </div>
</div>

<div class= "body-container">
  <div class= "container">
    <div class= "body-section px-4 center" data-aos= "fade-up" data-aos-duration="1000" data-aos-easing="ease-out-sine">
      <h2 class="team-header-text">  Virginia iGEM 2022  </h2>
      <img class="team-photo"src= "https://static.igem.wiki/teams/4477/wiki/img-5698.jpg"/>
    </div>
    <div class="body-section"
      <div class="container">
        <div class="row text-center center">
          <h1>            </h1>
          <div class="col-md" data-aos="fade-left">
            <h3 class="border-lft">Graphic here</h3>
          </div>
          <div class="col-md" data-aos="fade-right">
            <h2 class="who-we">    The Minds Behind the Science    </h3>
            <p>We are a team composed of 12 undergraduate students from the University of Virginia. To prepare for iGEM, all students took a synthetic biology course for the spring semester, drafting 5 different project proposals for potential iGEM work in the summer. At the end of the course, the team voted on the project we most wanted to pursue, from which AtheroSHuffle has stemmed. We come from a variety of different disciplines, allowing us to incorporate computer science, graphic design, economics, health, chemistry, and of course, biology into our project design and presentation. </p>
          </div>
        </div>
        <div class="center">
        <img class="blood-cells" src="https://static.igem.wiki/teams/4477/wiki/red-blood-cell-images-1.svg">
        </div>
      </div>
    </div> 
    <div class="body-section blue-tf-background px-4">
      <div class="container row text-center center px-4">
          <div class="col-md">
            <div class="card">
              <div class="card-inner">
                <div class="front-face">
                  <img class="card-pic" src="https://static.igem.wiki/teams/4477/wiki/img-5734.jpg">
                </div>
                <div class="back-face">
                  <h2>Miranda Khoury</h2>
                  <p>Wetlab Lead</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md">
            <img class="card-pic" src="https://static.igem.wiki/teams/4477/wiki/yi.jpg">
          </div>
          <div class="col-md">
            <img class="card-pic" src="https://static.igem.wiki/teams/4477/wiki/peneeta.jpg">
          </div>
      </div>
      <div class="container row text-center center">
          <div class="col-md">
            <img class="card-pic" src="https://static.igem.wiki/teams/4477/wiki/justin.jpg">
          </div>
          <div class="col-md">
            <img class="card-pic" src="https://static.igem.wiki/teams/4477/wiki/yasir.jpg">
          </div>
          <div class="col-md">
            <img class="card-pic" src="https://static.igem.wiki/teams/4477/wiki/marisa.jpg">
          </div>
      </div>
      <div class="container row text-center center">
          <div class="col-md">
            <img class="card-pic" src="https://static.igem.wiki/teams/4477/wiki/jayati.jpg">
          </div>
          <div class="col-md">
            <img class="card-pic" src="https://static.igem.wiki/teams/4477/wiki/ivory.jpg">
          </div>
          <div class="col-md">
            <img class="card-pic" src="https://static.igem.wiki/teams/4477/wiki/isha.jpg">
          </div>
      </div>
      <div class="container row text-center center">
          <div class="col-md">
            <img class="card-pic" src="https://static.igem.wiki/teams/4477/wiki/godwin.jpg">
          </div>
          <div class="col-md">
            <img class="card-pic" src="https://static.igem.wiki/teams/4477/wiki/alex.jpg">
          </div>
          <div class="col-md">
            <img class="card-pic" src="https://static.igem.wiki/teams/4477/wiki/alyssa.jpg">
          </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
