{% extends "layout.html" %}

{% block title %}Team{% endblock %}
{% block lead %}On this page you can introduce your team members, instructors, and advisors.{% endblock %}

{% block extraStyles %}
<link href="{{ url_for('static', filename = 'css/teampage.css') }}" rel="stylesheet">

{% endblock %}


{% block page_content %}


<div class="standard-header banner-v1 curvy-divider">
    <h1> Our Team </h1>
    <div class="wave2">
      <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
          <path d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z" class="shape-fill"></path>
      </svg>
    </div>
</div>

<div class="about-section d-flex flex-column align-items-center justify-content-center minds-behind-science team-page">
  <div class="body-container wave-div narrow">
    <div class="narrow-content d-flex flex-row justify-content-center align-items-center">
      <div class="minds-wrapper">
        <h2>The Minds Behind the Science</h2>
        <p>We are a team composed of 12 undergraduate students from the University of Virginia. To prepare for iGEM, all students took a synthetic biology course for the spring semester, drafting 5 different project proposals for potential iGEM work in the summer. At the end of the course, the team voted on the project we most wanted to pursue, from which AtheroSHuffle has stemmed. We come from a variety of different disciplines, allowing us to incorporate computer science, graphic design, economics, health, chemistry, and of course, biology into our project design and presentation.</p>
      </div>
    </div>
  </div>
</div>

<div class= "body-container d-flex align-items-center justify-content-center flex-column">
  <div class= "body-section team-pics-wrapper" data-aos= "fade-up" data-aos-duration="1000" data-aos-easing="ease-out-sine">
      <img class="team-photo"src= "https://static.igem.wiki/teams/4477/wiki/teampic.jpg"/>
    </div>
  <div class="body-section">
    <div class="container">
      <div class="center">
      <img class="blood-cells" src="https://static.igem.wiki/teams/4477/wiki/red-blood-cell-images-1.svg">
      </div>
    </div>
  </div> 
</div>

<div class="cards-section-team gray">

  <div class="container">
    <div class="mycard">
      <div class="imgBx">
        <img src="https://static.igem.wiki/teams/4477/wiki/yi.jpg" alt="">

      </div>
      <div class="contentBx">
        <h2>Yi Zhou</h2>
        <div class="major-role">
          <p>Role: Team Lead</p>
          <p>Major: Chemistry and Neuroscience</p>
        </div>
        <div class="quote">
          <p>Quantum theory introduced to me the fact that everything I learned in classical mechanics is wrong - or at least partially. You cannot determine where a particle is in the future, it is completely random and unpredictable. However, you can predict where particles will be in the future when they travel as wave packets.</p>
        </div>
      </div>
    </div>

    <div class="mycard">
      <div class="imgBx">
        <img src="https://static.igem.wiki/teams/4477/wiki/fullmiranda.jpg" alt="">

      </div>
      <div class="contentBx">
        <h2>Miranda Khoury</h2>
        <div class="major-role">
          <p>Role: Wet Lab Lead</p>
          <p>Major: Biomedical Engineering</p>
        </div>
        <div class="quote">
          <p>Approximately 80% of people with autoimmune diseases are women. Researchers currently suspect this sex discrepancy has roots in the effects that female sex hormones have on the immune system, and in the fact that females have two X chromosomes. Female sex hormones have been observed to increase expression of many genes associated with autoimmune disorders, while incomplete deactivation of one of a female's two X chromosomes causes increased severity of autoimmune disorders due to there being more active copies of the many genes on the X chromosome that are involved in immunity.</p>
        </div>

      </div>
    </div>

    <div class="mycard">
      <div class="imgBx">
        <img src="https://static.igem.wiki/teams/4477/wiki/ivory.jpg" alt="">

      </div>
      <div class="contentBx">
        <h2>Ivory Tang</h2>
        <div class="major-role">
          <p>Role: Modeling Lead</p>
          <p>Major: Mathematics</p>
        </div>
        <div class="quote">
          <p>Maxwell's equations was the first time I saw how fundamentally math was tied to science. It was also the first time I felt like I didn't have to recall paragraphs of information. Rather, I only had to read the equations, everything about the finding was neatly contained by four of them!</p>
        </div>

      </div>
    </div>

    <div class="mycard">
      <div class="imgBx">
        <img src="https://static.igem.wiki/teams/4477/wiki/isha.jpg" alt="">

      </div>
      <div class="contentBx">
        <h2>Isha Patel</h2>
        <div class="major-role">
          <p>Role: Human Practices Lead</p>
          <p>Major: Biomedical Engineering</p>
        </div>
        <div class="quote">
          <p>One of the biggest questions in astronomy is: Are we alone in this universe? The way astronomers answer this is by classifying planets that meet a set of criteria for life. This set of criteria includes but is not limited to distance from the Sun (temperature of planet in Goldilocks zone), size of planet, and planet age (2 billion years in a sun’s habitable zone). It is mind-blowing to think that somewhere else in this universe, there could be a planet that meets the same requirements as Earth for the creation of life.</p>
        </div>

      </div>
    </div>

    <div class="mycard">
      <div class="imgBx">
        <img src="https://static.igem.wiki/teams/4477/wiki/peneeta.jpg" alt="">

      </div>
      <div class="contentBx">
        <h2>Peneeta Wojcik</h2>
        <div class="major-role">
          <p>Role: Wiki Lead</p>
          <p>Major: Biomedical Engineering</p>
        </div>
        <div class="quote">
          <p>A scientific effort that really interests me is “Organs-On-a-Chip” or OoC. OoCs are microfluidic systems that contain human cell tissues and simulate the physiology of certain organs. The skin, liver, and kidney have already been simulated using OoCs. I find this to be promising because if optimized it would reduce the need for animal studies and allow pharmaceutical drugs to be tested rapidly. It can also be potentially customized to a patient to see how their body would react to a particular prescribed drug!</p>
        </div>

      </div>
    </div>

    <div class="mycard">
      <div class="imgBx">
        <img src="https://static.igem.wiki/teams/4477/wiki/marisa.jpg" alt="">

      </div>
      <div class="contentBx">
        <h2>Marisa Guajardo</h2>
        <div class="major-role">
          <p>Role: Graphic Design Lead</p>
          <p>Major: Neuroscience</p>
        </div>
        <div class="quote">
          <p>I have recently become really interested in the rise of antibiotic resistance, and the inability of those developing pharmaceuticals to keep up with needing to develop new antibiotics. I learned about the possibility of using bacteriocins, toxins produced by bacteria, as an alternative to existing antibiotics, and hope to be able to explore this in the future. p.s. The fact that face transplants are also performed now is wildly interesting.</p>
        </div>

      </div>
    </div>

    <div class="mycard">
      <div class="imgBx">
        <img src="https://static.igem.wiki/teams/4477/wiki/justin.jpg" alt="">

      </div>
      <div class="contentBx">
        <h2>Justin Orchard-Hayes</h2>
        <div class="major-role">
          <p>Role: Historian, Wet Lab and Modeling</p>
          <p>Major: Biochemistry</p>
        </div>
        <div class="quote">
          <p>Naked mole rats and lobsters are resistant to the effects of old age. The chance that an old mole rat will die is exactly the same as the chance a young rat will die. These animals are able to preserve the integrity of their genome and proteins throughout their entire life, which also makes them nearly immune to cancer.</p>
        </div>

      </div>
    </div>

    <div class="mycard">
      <div class="imgBx">
        <img src="https://static.igem.wiki/teams/4477/wiki/jayati.jpg" alt="">

      </div>
      <div class="contentBx">
        <h2>Jayati Maram</h2>
        <div class="major-role">
          <p>Role: Wet Lab, Finance, and Integrated Human Practices</p>
          <p>Major: Biomedical Engineering</p>
        </div>
        <div class="quote">
          <p>Last year, the company Synchron inserted a neural implant into an ALS patient non-invasively for the first time in an effort to restore the ability to communicate, essentially texting through thinking. Although we have seen many brain-computer interface advancements in recent decades, most procedures involved cutting up the skull and damaging tissues or required patients to remain under constant supervision. Advancements like these in BCIs where products can be commercialized and independent for the user are really exciting for me because they show an unimaginable future where we extend human capabilities and revolutionize medicine, all through human ingenuity. 
          </p>
        </div>

      </div>
    </div>

    <div class="mycard">
      <div class="imgBx">
        <img src="https://static.igem.wiki/teams/4477/wiki/godwin.jpg" alt="">

      </div>
      <div class="contentBx">
        <h2>Godwin Oluwafemi</h2>
        <div class="major-role">
          <p>Role: Finance Lead and Wet Lab</p>
          <p>Major: Biomedical Engineering and Economics</p>
        </div>
        <div class="quote">
          <p>Lately I have found myself really interested in the way the brain actually functions. It actually behaves similar to that of a computer. With multiple synapses and receptor junctions, it acts as an interface with resistors to flow or push neurotransmitter signals within certain directions in order to maximize neurological function and brain activity. Just like how a computer transmits signals to increase power or processing abilities whenever an action is done. </p>
        </div>

      </div>
    </div>

    <div class="mycard">
      <div class="imgBx">
        <img src="https://static.igem.wiki/teams/4477/wiki/alex.jpg" alt="">

      </div>
      <div class="contentBx">
        <h2>Alex Heise</h2>
        <div class="major-role">
          <p>Role: Modeling and Wet Lab</p>
          <p>Major: Biology</p>
        </div>
        <div class="quote">
          <p>Recently, I've been interested in plant biology, and I find the "wood wide web" fascinating. Many trees and plants have symbiotic relationships with fungi that help them exchange nutrients not only with the soil, but with other trees. This nutrient web connects the environment and better helps them respond to changes in their surroundings.</p>
        </div>

      </div>
    </div>

    <div class="mycard">
      <div class="imgBx">
        <img src="https://static.igem.wiki/teams/4477/wiki/alyssa.jpg" alt="">

      </div>
      <div class="contentBx">
        <h2>Alyssa Dioguardi</h2>
        <div class="major-role">
          <p>Role: Human Practices and Finance</p>
          <p>Major: Biology and Commerce</p>
        </div>
        <div class="quote">
          <p>I’ve recently learned about the green mineral olivine and the possibility of using its carbon-capturing ability to curb the rising levels of CO2 in the Earth’s atmosphere!  Olivine is one of the most common minerals on Earth since it’s a major component of the Earth’s mantle, and research has shown that the mineral can act as a natural air purifier by removing CO2 from the air and locking it away in harmless byproducts.</p>
        </div>

      </div>
    </div>

    <div class="mycard">
      <div class="imgBx">
        <img src="https://static.igem.wiki/teams/4477/wiki/yasir.jpg" alt="">

      </div>
      <div class="contentBx">
        <h2>Yasir Mahboba</h2>
        <div class="major-role">
          <p>Role: Wet Lab</p>
          <p>Major: Biology and Data Science</p>
        </div>
        <div class="quote">
          <p>A fun fact I learned is that triacylglycerols (fats) are highly efficient energy storage units that allow migratory birds to fly over long distances from one continent to another without having to feed!</p>
        </div>

      </div>
    </div>
  </div>
</div>

<div class="body-container d-flex align-items-center justify-content-center flex-column">
  <div class="body-section" style="background-color:#454f82;">
    <div class="col-md">
      <h4>Need image!</h4>
      <img class="imgBx" src="" >
    </div>
    <div class="col-md">
    <h1 style="color:#fff;">Dr. Kozminski</h1>
    <p style="color:#fff;">Our PI, Dr. Keith Kozminski was imperative for providing us with the synthetic biology skills we needed to be able to begin and execute our design. Though he adores iGEM and would love nothing more than to dedicate all of his minutes to our lovely team, Dr. Kozminski also has his own lab in which he is researching the molecular regulation of asymmetric or polarized cell growth. Understanding these mechanisms will help to expand the field of synthetic biology and genetic engineering. Dr. Kozminski has shared much of his wisdom with our team, both in forms of troubleshooting advice and Crossaint Questions. We are now well educated in running SDS-page gels and in Paris fun facts.
    </div>
  </div>
</div>


{% endblock %}
