{% extends "layout.html" %}

{% block title %}Team{% endblock %}
{% block lead %}On this page you can introduce your team members, instructors, and advisors.{% endblock %}

{% block extraStyles %}
<link href="{{ url_for('static', filename = 'css/teampage.css') }}" rel="stylesheet">

{% endblock %}


{% block page_content %}


<div class="standard-header banner-v1 curvy-divider">
    <h1> Our Team </h1>
    <div class="wave2">
      <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
          <path d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z" class="shape-fill"></path>
      </svg>
    </div>
</div>

<div class="about-section d-flex flex-column align-items-center justify-content-center minds-behind-science team-page">
  <div class="body-container wave-div narrow">
    <div class="narrow-content d-flex flex-row justify-content-center align-items-center">
      <div class="minds-wrapper">
        <h2>The Minds Behind the Science</h2>
        <p>We are a team composed of 12 undergraduate students from the University of Virginia. To prepare for iGEM, all students took a synthetic biology course for the spring semester, drafting 5 different project proposals for potential iGEM work in the summer. At the end of the course, the team voted on the project we most wanted to pursue, from which AtheroSHuffle has stemmed. We come from a variety of different disciplines, allowing us to incorporate computer science, graphic design, economics, health, chemistry, and of course, biology into our project design and presentation.</p>
      </div>
    </div>
  </div>
</div>

<div class= "body-container d-flex align-items-center justify-content-center flex-column">
  <div class= "container">
    <div class= "body-section" data-aos= "fade-up" data-aos-duration="1000" data-aos-easing="ease-out-sine">
      <img class="team-photo"src= "https://static.igem.wiki/teams/4477/wiki/teampic.jpg"/>
    </div>
    <div class="body-section">
      <div class="container">
        <div class="center">
        <img class="blood-cells" src="https://static.igem.wiki/teams/4477/wiki/red-blood-cell-images-1.svg">
        </div>
        <div class="center">
          <div class="col-md new-card">
            <div class="pb"></div>
            <div class="info">
              <h1>Peneeta Wojcik</h1>
              <h2>Wiki Lead</h2>
            </div>
            <div class="detail">
              <div class="colu">
                <h3>342</h3>
                <h4>Posts</h4>
              </div>
              <div class="colu">
                <h3>120k</h3>
                <h4>Followers</h4>
              </div>
              <div class="colu">
                <h3>285</h3>
                <h4>Following</h4>
              </div>
            </div>
            <div class="buttons">
              <button id="follow"> Follow </button>
              <button id="LinkdIn"> LinekdIn </button>
            </div>
          </div>
        </div>
      </div>

    </div> 
    <div class="body-section">
      <div class="container row text-center center px-4">
          <div class="col-md">
            <div class="card-pic" src ="https://static.igem.wiki/teams/4477/wiki/fullmiranda.jpg">
            </div>
          </div>
          <div class="col-md">
            <img class="card-pic" src="https://static.igem.wiki/teams/4477/wiki/yi.jpg">
          </div>
          <div class="col-md new-card">
            <div class="pb"></div>
            <div class="info">
              <h1>Peneeta Wojcik</h1>
              <h2>Wiki Lead</h2>
            </div>
            <div class="detail">
              <div class="colu">
                <h3>342</h3>
                <h4>Posts</h4>
              </div>
              <div class="colu">
                <h3>120k</h3>
                <h4>Followers</h4>
              </div>
              <div class="colu">
                <h3>285</h3>
                <h4>Following</h4>
              </div>
            </div>
            <div class="buttons">
              <button id="follow"> Follow </button>
              <button id="LinkdIn"> LinkdIn </button>
            </div>
          </div>
            <img class="card-pic" src="https://static.igem.wiki/teams/4477/wiki/peneeta.jpg">
          </div>
      </div>
      <div class="container row text-center center">
          <div class="col-md">
            <img class="card-pic" src="https://static.igem.wiki/teams/4477/wiki/justin.jpg">
          </div>
          <div class="col-md">
            <img class="card-pic" src="https://static.igem.wiki/teams/4477/wiki/yasir.jpg">
          </div>
          <div class="col-md">
            <img class="card-pic" src="https://static.igem.wiki/teams/4477/wiki/marisa.jpg">
          </div>
      </div>
      <div class="container row text-center center">
          <div class="col-md">
            <img class="card-pic" src="https://static.igem.wiki/teams/4477/wiki/jayati.jpg">
          </div>
          <div class="col-md">
            <img class="card-pic" src="https://static.igem.wiki/teams/4477/wiki/ivory.jpg">
          </div>
          <div class="col-md">
            <img class="card-pic" src="https://static.igem.wiki/teams/4477/wiki/isha.jpg">
          </div>
      </div>
      <div class="container row text-center center">
          <div class="col-md">
            <img class="card-pic" src="https://static.igem.wiki/teams/4477/wiki/godwin.jpg">
          </div>
          <div class="col-md">
            <img class="card-pic" src="https://static.igem.wiki/teams/4477/wiki/alex.jpg">
          </div>
          <div class="col-md">
            <img class="card-pic" src="https://static.igem.wiki/teams/4477/wiki/alyssa.jpg">
          </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
