<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="https://static.igem.wiki/teams/4477/wiki/images/asfavicon.svg"/>
    
    <link rel="license" href="https://creativecommons.org/licenses/by/4.0/"/>

    <!-- fontawesome CSS -->
    <link href="{{ url_for('static', filename = 'fontawesome/all.min.css') }}" rel="stylesheet">

    <!-- JQuery  -->
    <script src="{{ url_for('static', filename = 'jquery-3.6.0.min.js') }}"></script>

    <!-- CAROUSEL -->
    <script language="JavaScript" type="text/javascript">
      $(document).ready(function(){
        $('.carousel').carousel({
          interval: 2000
        })
      });    
    </script> 

    <!-- Bootstrap CSS -->
    <link href="{{ url_for('static', filename = 'bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{{ url_for('static', filename = 'style.css') }}" rel="stylesheet">

    <!-- Hover.css stylesheet -->
    <link href="{{ url_for('static', filename = 'css/hover.css') }}" rel="stylesheet">

    <!-- aos css -->
    <link rel="stylesheet" href="{{ url_for('static', filename = 'aos/aos.css') }}">

    <!-- aos JavaScript -->
    <script src="{{ url_for('static', filename = 'aos/aos.js') }}"></script>

    <!-- Lottie JS -->
    <script src="{{ url_for('static', filename = 'lottie/lottie.js') }}"></script>
    

    {% block extraStyles %}
    {% endblock %}

    <title>{% block title %}{% endblock %} | Virginia - iGEM 2022</title>
  </head>
<body>
    <!-- Initialize Data AOS -->
    <script>
      AOS.init({
        once: true
      });
    </script>
  <!-- Navigation -->
  {% include 'menu.html' %}

  <script>
    $(window).scroll(function(){
	    $('nav').toggleClass('scrolled', $(this).scrollTop() > 50);
    });
  </script>

  <!-- Page Content -->
  {% block page_content %}{% endblock %}

  <!-- Footer: MUST mention license AND have a link to team wiki's repository on gitlab.igem.org -->
  {% include 'footer.html' %}


  <script>
    $(document).ready(function() {
        $("body").tooltip({ selector: '[data-bs-toggle=tooltip]' });
    });
  </script>

  <!-- Bootstrap Bundle with Popper -->
  <script src="{{ url_for('static', filename = 'bootstrap.bundle.min.js') }}"></script> 
  
</body>

<script src="{{ url_for('static', filename = 'components/scrollspyforindex.js') }}"></script>
</html>
