<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="https://static.igem.wiki/teams/4477/wiki/images/finallogo.svg"/>
    
    <link rel="license" href="https://creativecommons.org/licenses/by/4.0/"/>

    <!-- fontawesome CSS -->
    <link href="{{ url_for('static', filename = 'fontawesome/all.min.css') }}" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link href="{{ url_for('static', filename = 'bootstrap.min.css') }}" rel="stylesheet">

    <!-- JQuery  -->
    <script src="{{ url_for('static', filename = 'jquery-3.6.0.min.js') }}"></script>

    <!-- Custom CSS -->
    <link href="{{ url_for('static', filename = 'style.css') }}" rel="stylesheet">

    <!-- Hover.css stylesheet -->
    <link href="{{ url_for('static', filename = 'css/hover.css') }}" rel="stylesheet">

    <!-- aos css -->
    <link rel="stylesheet" href="{{ url_for('static', filename = 'aos/aos.css') }}">

    <!-- aos JavaScript -->
    <script src="{{ url_for('static', filename = 'aos/aos.js') }}"></script>

    <!-- Lottie JS -->
    <script src="{{ url_for('static', filename = 'lottie/lottie.js') }}"></script>

    {% block extraStyles %}
    {% endblock %}

    <title>{% block title %}{% endblock %} | Virginia - iGEM 2022</title>
  </head>
<body>
    <!-- Initialize Data AOS -->
    <script>
      AOS.init({
        once: true
      });
    </script>
  <!-- Navigation -->
  {% include 'menu.html' %}

  <!-- Scroll to change opacity of navbar -->
  <script>
    window.onscroll = function() {scrollFunction()};
    const nav = document.querySelector(".navbar");
    function scrollFunction() {

    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
        nav.classList.add("nav-opaque");
    } else {
    
        nav.classList.remove("nav-opaque");
    }
    }
  </script>

  <!-- Page Content -->
  {% block page_content %}{% endblock %}


  <!-- Footer: MUST mention license AND have a link to team wiki's repository on gitlab.igem.org -->
  {% include 'footer.html' %}

  <!-- Bootstrap Bundle with Popper -->
  <script src="{{ url_for('static', filename = 'bootstrap.bundle.min.js') }}"></script>
</body>
</html>
