*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.calendar-container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}


.calendar{
    font-size: 62.5%;
    position: relative;
    width: 45rem;
    height: 52rem;
    background-color: #eeeeee;
    box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.8); 
    scale: .5;
    border-radius: 10px;
}

.month{
    width: 100%;
    height: 14rem;
    background-color: #69263b;
    border-radius: 10px 10px 0px 0px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    text-align: center;
}

.btn.active-month{
    border-bottom: 5px solid white;
}

.month-select{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
    margin-top: 2rem;
}

.month i{
    font-size: 2.5rem;
    cursor: pointer;
}

.month h1{
    font-size: 3rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    margin-bottom: 1rem;
}

.month p{
    font-size: 1.6 rem;
}

.weekdays{
    width: 100%;
    height: 5rem;
    padding: 0 0.4rem;
    display: flex;
    align-items: center;
}

.weekdays div{
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: 0.1rem;
    width: calc(44.2rem/7);
    display: flex;
    justify-content: center;
    align-items: center;

}

.days{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: .2rem;
}

.days div{
    font-size: 1.4rem;
    margin: .3rem;
    width: calc(40.2rem/7);
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.2s;
}

/* Need to create a hover bar element */
.week-selector{
    width: 44rem;
    position: absolute;
    height: 4rem;
    background-color:#f5e297;
    box-shadow: 4px 4px 0 rgba(255, 202, 45, 0.8); 
    border-radius: 1000px;
    z-index: -9;
    margin-bottom: 10rem;
}

.next-date{
    opacity: 0.5;
}

.prev-date{
    opacity: 0.4;
}

.hidden-days{
    display: none;
}