.accordion{
    width: 100%;
    padding: max(2vh, 1rem);
}

.accordion-header{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
  }

.centered-content{
    display: flex;
    align-items: center;
    justify-content: center;
}