.rounded{
    max-width:80%;
    height:auto;
    border-radius: 10%;
    align-content: center; 
    padding: 2rem;  
}

.lfasize {
    max-width: 40rem;
}

.abimg {
    max-width:50%;
    max-height:auto;
}

.steps-container .text-wrapper {
    max-width: 25rem;
}

.steps-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-block: 2rem;
}

.steps-container img {
    max-width: 15rem;
}