/* Imported Fonts */
/* Quicksand-regular - latin */
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 400;
  src: 
       url('https://static.igem.wiki/teams/4477/wiki/quicksand-v29-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('https://static.igem.wiki/teams/4477/wiki/quicksand-v29-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('https://static.igem.wiki/teams/4477/wiki/quicksand-v29-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('https://static.igem.wiki/teams/4477/wiki/quicksand-v29-latin-regular.svg') format('svg'); /* Legacy iOS */
}

/* Quicksand-Lite */
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 300;
  src:
       url('https://static.igem.wiki/teams/4477/wiki/quicksand-v29-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('https://static.igem.wiki/teams/4477/wiki/quicksand-v29-latin-300.woff') format('woff'), /* Modern Browsers */
       url('https://static.igem.wiki/teams/4477/wiki/quicksand-v29-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('https://static.igem.wiki/teams/4477/wiki/quicksand-v29-latin-300.svg') format('svg'); /* Legacy iOS */
}

/* open-sans-regular - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src:
       url('https://static.igem.wiki/teams/4477/wiki/open-sans-v29-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('https://static.igem.wiki/teams/4477/wiki/open-sans-v29-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('https://static.igem.wiki/teams/4477/wiki/open-sans-v29-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('https://static.igem.wiki/teams/4477/wiki/open-sans-v29-latin-regular.svg') format('svg'); /* Legacy iOS */
}

/* open-sans BOLD */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src:
       url('https://static.igem.wiki/teams/4477/wiki/open-sans-v29-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('https://static.igem.wiki/teams/4477/wiki/open-sans-v29-latin-700.woff') format('woff'), /* Modern Browsers */
       url('https://static.igem.wiki/teams/4477/wiki/open-sans-v29-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('https://static.igem.wiki/teams/4477/wiki/open-sans-v29-latin-700.svg') format('svg'); /* Legacy iOS */
}

/* open-sans ITALIC */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src:
       url('https://static.igem.wiki/teams/4477/wiki/open-sans-v29-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('https://static.igem.wiki/teams/4477/wiki/open-sans-v29-latin-italic.woff') format('woff'), /* Modern Browsers */
       url('https://static.igem.wiki/teams/4477/wiki/open-sans-v29-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('https://static.igem.wiki/teams/4477/wiki/open-sans-v29-latin-italic.svg') format('svg'); /* Legacy iOS */
}

/* open-sans Light ITALIC */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 300;
  src:
       url('https://static.igem.wiki/teams/4477/wiki/open-sans-light-italic/open-sans-v29-latin-300italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('https://static.igem.wiki/teams/4477/wiki/open-sans-light-italic/open-sans-v29-latin-300italic.woff') format('woff'), /* Modern Browsers */
       url('https://static.igem.wiki/teams/4477/wiki/open-sans-light-italic/open-sans-v29-latin-300italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('https://static.igem.wiki/teams/4477/wiki/open-sans-light-italic/open-sans-v29-latin-300italic.svg') format('svg'); /* Legacy iOS */
}

  .root{
    --primary-color: 
  }

  .body{
    width:100%;
  }

  .main-title{
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 300;
    font-size: clamp(0.5rem, 0.5rem + 10vw ,3.4rem);
    color: white;
  }

  .bold-title{
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
  }
  
  .second-title{
      font-size: max(0.8rem, 1.5vw);
      font-family: 'Open Sans';
      font-style: normal;
      font-weight: 400;
      color:rgb(24, 24, 24);
      color: white;
  }

  .mission-heading{
    font-size: max(1.6rem, 3vw);
    padding-top: min(2rem, 5vh);
    padding-bottom: min(10rem, 2vh);
    letter-spacing: 0.17rem;
  }

  .mission-text{
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 300;
    font-size: max(0.8rem, 1vw);
    padding-inline: 10vw;
    text-align: center;
    letter-spacing: 0.02rem;
  }

  .header-background{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    height: 102vh;
    gap: 7rem;
    justify-content: center;
    align-items: flex-start;
    background-image: url(https://static.igem.wiki/teams/4477/wiki/images/hero-background.svg);
    overflow: hidden;
    background-position: center;
  }

  .header-wrapper{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    margin-left: 15vw;
  }
  
  /* Text Alignment Attributes */
  .right-align{
    text-align: right;
  }

  /* Scroll Section Formatting for Site */

/* Sections */
  .dark-section-narrow{
    width: 100%;
    height: auto;
    background: #171717;
    color: white;
    overflow: hidden;
    -webkit-box-shadow: 0px 4px 26px 9px rgba(0,0,0,0.6); 
    box-shadow: 0px 4px 26px 9px rgba(0,0,0,0.6);
    -moz-box-shadow: 0px 4px 26px 9px rgba(0,0,0,0.38);
  }

  .fs-light-section{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #E9E9E9;
    overflow: hidden;
  }
  
  .blob-background-section{
    color: white;
    background-image: url(https://static.igem.wiki/teams/4477/wiki/images/abstract-blob-background.svg);
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
  }

  .blob-bottom-page{
    color: white;
    background-image: url(https://static.igem.wiki/teams/4477/wiki/images/blob-bottom-page.svg);
    width: 100%;
    background-position-x: center;
    background-position-y: 50%;
    height: max(10rem, 60vh);
  }

  .abstract{
    padding: max(3rem, 16vh);
  }

  .abstract p{
    line-height: 1.6rem;
  }

  .blue-section{    
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #081A3E;
    color: white;
    overflow: hidden;
  }

  .fs-blue-section-wide{    
    width: 100%;
    height: 120vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #081A3E;
    color: white;
    overflow: hidden;
  }

  .helpful-links{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
  }

  .btn.btn-primary{
    background-color: #6C1233;
    color: white;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    padding: 0.5rem 2rem;
    border-radius: 100px;
    border-color:#ffffff00;
    box-shadow: 0px 4px 31px 0px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0px 4px 31px 0px rgba(0,0,0,0.5); 

  }
  
/* Logo Image Formatting */
.logo{
  max-height: 200px;
}

/* Heart Woman Styling */
.heart-woman{
  width: min(60vw, 28rem);
}

.man-gif{
  width: 300rem;
}
