/* FONTS */

/* Quicksand-Lite */
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 300;
  src:
       url('https://static.igem.wiki/teams/4477/wiki/quicksand-v29-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('https://static.igem.wiki/teams/4477/wiki/quicksand-v29-latin-300.woff') format('woff'), /* Modern Browsers */
       url('https://static.igem.wiki/teams/4477/wiki/quicksand-v29-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('https://static.igem.wiki/teams/4477/wiki/quicksand-v29-latin-300.svg') format('svg'); /* Legacy iOS */
}

/* open-sans-regular - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src:
       url('https://static.igem.wiki/teams/4477/wiki/open-sans-v29-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('https://static.igem.wiki/teams/4477/wiki/open-sans-v29-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('https://static.igem.wiki/teams/4477/wiki/open-sans-v29-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('https://static.igem.wiki/teams/4477/wiki/open-sans-v29-latin-regular.svg') format('svg'); /* Legacy iOS */
}

.cards-div{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2em;
}
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 300px;
    /* height: 400; */
    background: white;
    color: currentColor;
    text-decoration: none;
    overflow: hidden;
    transition-property: color;
    transition-delay: 0.15s;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
  }
  .card.hover {
    color: #000000;
    transition-delay: 0;
  }
  .card, .card__image, .card__image::after, .card__author, .card__body, .card__foot, .card__border {
    transition-duration: 0.4s;
    transition-timing-function: cubic-bezier(0.51, 0.92, 0.24, 1);
  }
  .card__head {
    position: relative;
    padding-top: 70%;
  }
  
  .card__image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
    background-position: center;
    transform-origin: top center;
    transition-property: transform;
    transition-delay: 0s;
  }
  .card__image::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.5;
    background: linear-gradient(30deg, rgba(26, 42, 99, 0.85), rgba(26, 42, 99, 0.5));
    transition-property: opacity;
    transition-delay: 0s;
  }
  .card.hover .card__image {
    transition-delay: 0;
  }
  .card.hover .card__image::after {
    opacity: 1;
    transition-delay: 0;
  }
  .card__body {
    position: relative;
    padding: 2em;
    transition-property: transform;
    transition-delay: 0s;
  }
  .card.hover .card__body {
    transition-delay: 0;
  }
  .card__headline {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 300;
    margin: 0 0 0.8em;
  }
  .card__text {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
    opacity: 0.8;
  }
  .card__foot {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0 2em 2em;
    opacity: 0;
    transition-property: opacity;
  }
  .card.hover .card__foot {
    opacity: 1;
    transition-delay: 0.15s;
  }
  .card__link {
    color: currentColor;
    text-decoration: none;
    border-bottom: 2px solid #4b1414;
  }
  .card__border {
    position: absolute;
    left: 0;
    bottom: 0;
    border-radius: 20px;
    width: 100%;
    height: 6px;
    background: #4B1425;
    transform: scaleY(0);
    transition-property: transform;
  }
  .card.hover .card__border {
    transform: none;
    transition-delay: 0.15s;
  }
  
  
  .cards-div{
    display: flex;
    flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 100px; 
  }