/* Imported Fonts */
/* Quicksand-regular - latin */
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 400;
  src: 
       url('https://static.igem.wiki/teams/4477/wiki/quicksand-v29-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('https://static.igem.wiki/teams/4477/wiki/quicksand-v29-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('https://static.igem.wiki/teams/4477/wiki/quicksand-v29-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('https://static.igem.wiki/teams/4477/wiki/quicksand-v29-latin-regular.svg') format('svg'); /* Legacy iOS */
}

/* Quicksand-Lite */
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 300;
  src:
       url('https://static.igem.wiki/teams/4477/wiki/quicksand-v29-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('https://static.igem.wiki/teams/4477/wiki/quicksand-v29-latin-300.woff') format('woff'), /* Modern Browsers */
       url('https://static.igem.wiki/teams/4477/wiki/quicksand-v29-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('https://static.igem.wiki/teams/4477/wiki/quicksand-v29-latin-300.svg') format('svg'); /* Legacy iOS */
}

/* open-sans-regular - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src:
       url('https://static.igem.wiki/teams/4477/wiki/open-sans-v29-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('https://static.igem.wiki/teams/4477/wiki/open-sans-v29-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('https://static.igem.wiki/teams/4477/wiki/open-sans-v29-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('https://static.igem.wiki/teams/4477/wiki/open-sans-v29-latin-regular.svg') format('svg'); /* Legacy iOS */
}

/* open-sans BOLD */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src:
       url('https://static.igem.wiki/teams/4477/wiki/open-sans-v29-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('https://static.igem.wiki/teams/4477/wiki/open-sans-v29-latin-700.woff') format('woff'), /* Modern Browsers */
       url('https://static.igem.wiki/teams/4477/wiki/open-sans-v29-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('https://static.igem.wiki/teams/4477/wiki/open-sans-v29-latin-700.svg') format('svg'); /* Legacy iOS */
}

/* open-sans ITALIC */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src:
       url('https://static.igem.wiki/teams/4477/wiki/open-sans-v29-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('https://static.igem.wiki/teams/4477/wiki/open-sans-v29-latin-italic.woff') format('woff'), /* Modern Browsers */
       url('https://static.igem.wiki/teams/4477/wiki/open-sans-v29-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('https://static.igem.wiki/teams/4477/wiki/open-sans-v29-latin-italic.svg') format('svg'); /* Legacy iOS */
}

/* open-sans Light ITALIC */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 300;
  src:
       url('https://static.igem.wiki/teams/4477/wiki/open-sans-light-italic/open-sans-v29-latin-300italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('https://static.igem.wiki/teams/4477/wiki/open-sans-light-italic/open-sans-v29-latin-300italic.woff') format('woff'), /* Modern Browsers */
       url('https://static.igem.wiki/teams/4477/wiki/open-sans-light-italic/open-sans-v29-latin-300italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('https://static.igem.wiki/teams/4477/wiki/open-sans-light-italic/open-sans-v29-latin-300italic.svg') format('svg'); /* Legacy iOS */
}

/* Montserrat Large Font FOR NUMBERS */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  src:
       url('https://static.igem.wiki/teams/4477/wiki/montserrat-800-bold/montserrat-v25-latin-800.woff2') format('woff2'), /* Super Modern Browsers */
       url('https://static.igem.wiki/teams/4477/wiki/montserrat-800-bold/montserrat-v25-latin-800.woff') format('woff'), /* Modern Browsers */
       url('https://static.igem.wiki/teams/4477/wiki/montserrat-800-bold/montserrat-v25-latin-800.ttf') format('truetype'), /* Safari, Android, iOS */
       url('https://static.igem.wiki/teams/4477/wiki/montserrat-800-bold/montserrat-v25-latin-800.svg.svg') format('svg'); /* Legacy iOS */
}

  .body{
    width:100%;
  }

  .main-title{
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 300;
    font-size: clamp(0.5rem, 0.5rem + 10vw, 5rem);
    color: white;
  }

  .bold-title{
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
  }
  
  .second-title{
      font-size: clamp(0.6rem, 0.6rem + 1.5vw, 1.4rem);
      font-family: 'Open Sans';
      font-style: normal;
      font-weight: 400;
      color:rgb(24, 24, 24);
      color: white;
  }

  .mission-heading{
    font-size: clamp(2rem, 2rem + 1.5vw, 3rem);
    padding-top: min(2rem, 5vh);
    padding-bottom: min(10rem, 2vh);
    letter-spacing: 0.17rem;
  }

  .mission-text{
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 300;
    font-size: clamp(0.8rem, 0.8rem + 1vw, 1rem);
    padding-inline: min(10vw, 15rem);
    text-align: center;
    letter-spacing: 0.02rem;
  }

  .header-section{    
    width: 100%;
    height: 102vh;
    gap: 7rem;
  }

  .header-background{
    background-image: url('https://static.igem.wiki/teams/4477/wiki/images/homepage-animated.svg');
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
  }

  .header-wrapper{
    margin-left: 15vw;
  }
  
  /* Text Alignment Attributes */
  .right-align{
    text-align: right;
  }

  /* Scroll Section Formatting for Site */

/* Sections */
  .dark-section-narrow{
    width: 100%;
    height: auto;
    background: #121212;
    color: white;
    overflow: hidden;
  }

  .light-section{
    width: 100%;
    height: auto;
    background: #e9e9e9;
    color: black;
    overflow: hidden;
  }

  .stat-section{
    padding-top: max(20vh, 3rem);
  }

  .earth-section{
    width: 100vw;
    /* position: absolute; */
  }

  .wrapper.graph{
    position: relative; 
    width: 30rem; 
  }

  .fs-dark-section{
    width: 100%;
    height: auto;
    background: #121212;
    overflow: hidden;
  }
  
  .blob-background-section{
    color: white;
    background-image: url(https://static.igem.wiki/teams/4477/wiki/images/abstract-blob-background.svg);
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
  }

  .blob-bottom-page{
    color: white;
    background-image: url(https://static.igem.wiki/teams/4477/wiki/images/blob-bottom-page.svg);
    width: 100%;
    background-position-x: center;
    background-position-y: 50%;
    height: max(10rem, 60vh);
  }

  .abstract p{
    line-height: 1.6rem;
  }

  .blue-section{    
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #081A3E;
    color: white;
    overflow: hidden;
  }

  .fs-blue-section-wide{    
    width: 100%;
    height: 120vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #081A3E;
    color: white;
    overflow: hidden;
  }

  .helpful-links{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
  }

  .btn.btn-primary{
    background-color: #6C1233;
    color: white;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    padding: 0.5rem 2rem;
    border-radius: 100px;
    border-color:#ffffff00;
    box-shadow: 0px 4px 31px 0px rgba(0,0,0,0.5)!important;
    -webkit-box-shadow: 0px 4px 31px 0px rgba(0,0,0,0.5)!important; 

  }
  
/* Logo Image Formatting */
.logo{
  max-height: 200px;
}

/* Images Styling */
.heart-woman{
  width: min(60vw, 28rem);
}
.man-gif{
  width: 300rem;
}

#bm{
  width: 100%;
  height: auto;
}

/* SCROLL DOWN MOUSE CSS */
.scroll-downs {
  position: absolute;
  top: 0;
  right: 0;
  bottom: -60vh;
  left: 0;
  margin: auto;
  
  width :34px;
  height: 55px;
}
.mousey {
  width: 3px;
  padding: 10px 15px;
  height: 35px;
  border: 2px solid #fff;
  border-radius: 25px;
  opacity: 0.75;
  box-sizing: content-box;
}
.scroller {
  width: 3px;
  height: 10px;
  border-radius: 25%;
  background-color: #fff;
  animation-name: scroll;
  animation-duration: 2.2s;
  animation-timing-function: cubic-bezier(.15,.41,.69,.94);
  animation-iteration-count: infinite;
}
@keyframes scroll {
  0% { opacity: 0; }
  10% { transform: translateY(0); opacity: 1; }
  100% { transform: translateY(15px); opacity: 0;}
}

/* COUNTER STYLING */
.number{
  text-align: center;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  font-size: clamp(2rem, 2rem + 3vw, 7rem);
}

.stat p{
  text-align: center;
}