.calendar-container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

.notebook-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}