/* raleway-regular - latin */
@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    src: 
         url('https://static.igem.wiki/teams/4477/wiki/raleway-v27-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('https://static.igem.wiki/teams/4477/wiki/raleway-v27-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('https://static.igem.wiki/teams/4477/wiki/raleway-v27-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('https://static.igem.wiki/teams/4477/wiki/raleway-v27-latin-regular.svg') format('svg'); /* Legacy iOS */
  }

.standard-header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    background: #EFF4FF;
}

.standard-header h1{
    font-size: 50px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
}