.team-photo{
    max-width:80%;
    height:auto;
    border-radius: 25px;

}

.team-header-text{
    color: black;
    background-color: #EDB4B4;
    border-radius:20px;
    text-align: center;
    display: inline-block;

}
