.team-photo{
    max-width:80%;
    height:auto;
    border-radius: 3%;
    align-content: center; 
    padding: 8px;

}

.team-header-text{
    color: black;
    background-color: #EDB4B4;
    border-radius:20px;
    text-align: center;
    display: inline-block;
    padding-inline-start: 10px;
    padding-inline-end: 10px;
    align-content: center;

}

.who-we{
    color: white;
    background-color: #535E84;
    line-height: 40px;
    border-radius: 15px;
    text-align: center;
    display: inline-block;
    padding-inline-start: 10px;
    padding-inline-end: 10px;
}

.border-lft{
    border-color: #EDB4B4;
    border-left-width: 1cm;
    border-left-style: solid

}

.center{
    align-content: center;
    text-align: center;
}

.blood-cells{
    max-width:50%;
    height: auto;
    align-content: center;
}

.blue-tf-background{
    width: 100%;
    height: auto;
    background: #535E84;
    color: white;
    overflow: hidden;
}

.card-pic{
    max-width: 90%;
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    align-content: center;
    border-radius: 50%
    
}

.crd-container{
    max-width: 80%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card{
    max-width: 380px;
    perspective: 1000px;
    cursor: pointer;
}

.card-inner{
    position: relative;
    max-width: 100%;
    text-align: center;
    transform-style: preserve-3d;
    transition: transform 1s;
}

.front-face{
    backface-visibility: hidden;
}

.front-face img{
    max-width: 100%;
    border-radius: 10px;
}

.back-face{
    backface-visibility: hidden;
    background: white;
    color: black;
    position: absolute;
    max-height: 100%;
    max-width: 100%;
    top: 0;
    left: 0;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform: rotateY(180deg);
    }

.card:hover .card-inner{
    transform: rotateY(-180deg);
}
