.team-photo{
    max-width:80%;
    height:auto;
    border-radius: 3%;
    align-content: center; 
    padding: 8px;

}

.team-header-text{
    color: black;
    background-color: #EDB4B4;
    border-radius:20px;
    text-align: center;
    display: inline-block;
    padding-inline-start: 10px;
    padding-inline-end: 10px;
    align-content: center;

}

.who-we{
    color: white;
    background-color: #535E84;
    line-height: 40px;
    border-radius: 15px;
    text-align: center;
    display: inline-block;
    padding-inline-start: 10px;
    padding-inline-end: 10px;
}

.border-lft{
    border-color: #EDB4B4;
    border-left-width: 1cm;
    border-left-style: solid

}

.center{
    align-content: center;
    text-align: center;
}

.blood-cells{
    max-width:50%;
    height: auto;
    align-content: center;
}

.cards-section-team{
    width: 100%;
    height: auto;
    background: #535E84;
    color: white;
    padding-block: 10rem;
}

.card-pic{
    max-width: 90%;
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    align-content: center;
    border-radius: 50%
    
}

.crd-container{
    max-width: 80%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #535E84
}


.card{
    position: relative;
    background-color: #fff;
    max-width: 23rem;
    height: 27rem;
    box-shadow: 0 35px 80px rgba(0, 0, 0,0.15);
    border-radius: 20px;
    transition: 0.5s;
    padding-top: 50px;
}

.imgBx {
    position: absolute;
    left: 50%;
    top: -50px;
    transform: translateX(-50%);
    width: 150px;
    height: 150px;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 15px 50px rgba(0, 0, 0,0.35);
    overflow: hidden;
    transition: 0.5s;
}
.card:hover .imgBx{
    height: 250px;
    width: 250px;
}

.imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;


}


.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 125px 0px 10px 0px;
    transition: all 0.4s ease-in-out;
}

.new-card:hover .info {
    display: flex;
    padding: 230px 0px 10px 0px;
}

.detail {
    position: relative;
    display: flex;
    opacity: 0;
    z-index: -10;
    justify-content: space-between;
    padding: 10px 50px;
    transform: translate(-20px);
    transition-timing-function: linear;
    transition-duration: 0s, 0.2s , 0.2s;
    transition-property: z-index,opacity,transform;
    transition-delay: 0.2s, 0s, 0s;
}

.colu {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buttons {
    position: relative;
    display: flex;
    opacity: 0;
    z-index: -10px;
    padding: 10px 50px;
    justify-content: space-between;
    transform: translate(-20px);
    transition-timing-function: linear;
    transition-duration: 0s, 0.2s , 0.2s;
    transition-property: z-index,opacity,transform;
    transition-delay: 0.2s, 0s, 0s;
}

.button {
    padding: 10px 30x;
    border-radius: 5px;
    cursor: pointer;
}

#follow {
    background-color: #535E84;
    border: 1px solid #535E84;
    color: #fff;
    font-weight: 500;
    transition: all 0.3s linear;
}

#follow:hover {
    background-color: #7684b5;

}

#linkdin {
    background-color: transparent;
    border: 1px solid grey;
    color: grey;
    font-weight: 500;
    transition: all 0.3s linear;
}

#linkdin:hover {
    color: #fff;
    background-color: darkgrey;
}

.new-card:hover .detail ,
.new-card:hover .buttons {
    opacity: 1;
    z-index: 0;
    transform: translateX(0px);
    transition-timing-function: linear;
    transition-duration: 0s, 0.3s, 0.3s;
    transition-property: z-index, opacity, transform;
    transition-delay: 0s, 0.2s, 0.2s;
}

.rounded{
    max-width:80%;
    height:auto;
    border-radius: 10%;
    align-content: center; 
    padding: 8px;  
}

.lfasize {
    size: 5%
}
